@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.InvoiceModel

@{
    ViewBag.Title = "Invoice Detail";
}
<style>
    .card .Rejected {
        background-color: #faebd4 !important;
    }

        .card .Rejected input {
            color: #8a6d3b;
        }


    .card .Approved {
        background-color: #d4fad6 !important;
    }

        .card .Approved input {
            color: #3c763d;
        }
</style>
<section>

    <div class="row section-header" style="height: auto">
        <h2 class="text-primary col-sm-3">@ViewBag.Title</h2>

    </div>
<div class="row">
    <div class="col-sm-12" style="padding-right: 24px; padding-bottom: 12px">
        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
        @if (CurrentUser.HasPermission("Invoice", "Edit"))
        {
            @Html.Bootstrap().ActionLinkButton("Edit", "Edit").RouteValues(new {id = Model.Invoice.ID}).Class(" btn-primary").PrependIcon("md md-edit")
        }
    </div>
</div>
    <div class="card">
        <div class="card-body form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.Invoice.InvoiceNo).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Invoice.InvoiceNo)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.Invoice.InvoiceDateStr).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Invoice.InvoiceDate)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.Invoice.AdminCharge).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Invoice.AdminCharge)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.Invoice.TotalAmount).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Invoice.TotalAmount)
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.Invoice.Remarks).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Invoice.Remarks)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body form">
            <div class="card-body">
                <div class="card card-underline">
                    <div class="card-head">
                        <header>Sessions</header>
                    </div>
                    <div class="card-body text-default-light">
                        <div class="row">
                            <div class="col-sm-12">
                                @foreach (var session in Model.Booking.EventSessions)
                                {
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <b>@session.SessionTitle (@session.StartDate.ToString("dd MMM") - @session.EndDate.ToString("dd MMM"))</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @session.ShortDescription
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @session.Address
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header>Company Info</header>
                        </div>
                        <div class="card-body text-default-light">
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.Company.CompanyName).Disabled().Class("form-control").ShowValidationMessage(true)
                                <label>Company</label>
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.Address).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.Address)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.Tel).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.Tel)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.Fax).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.Fax)
                            </div>

                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header>Sender</header>
                        </div>
                        <div class="card-body text-default-light">
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.SenderName).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.SenderName).LabelText("Sender")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.SenderDestination).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.SenderDestination).LabelText("Destination")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.SenderTel).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.SenderTel).LabelText("Tel")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.SenderMail).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.SenderMail).LabelText("Mail")
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header>Delegates</header>
                        </div>
                        <div class="card-body text-default-light" id="delegateContain">
                            @{
                                var current = 1;
                            }
                            @foreach (var item in Model.Booking.Delegates)
                            {
                                <div class="delegateItem col-sm-6">
                                    <div style="border: 1px solid #e1e1e1;padding: 20px;margin-bottom: 10px;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("Delegate" + item.ID).Value(item.FullName).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Delegate @current</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("JobTitle" + item.ID).Value(item.JobTitle).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Designation</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("WorkEmail" + item.ID).Value(item.WorkEmail).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Work Email</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("PersonalEmail" + item.ID).Value(item.PersonalEmail).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Personal Email</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("DirectLine" + item.ID).Value(item.DirectLine).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Direct Line</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("MobilePhone1_" + item.ID).Value(item.MobilePhone1).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Mobile1</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("MobilePhone2_" + item.ID).Value(item.MobilePhone2).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Mobile2</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.Bootstrap().TextBox("MobilePhone3_" + item.ID).Value(item.MobilePhone3).Disabled().Class("form-control").ShowValidationMessage(true)
                                                    <label>Mobile3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                current++;
                            }
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header>Authorisation</header>
                        </div>
                        <div class="card-body text-default-light">
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.AuthoriserName).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.AuthoriserName).LabelText("Authoriser")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.AuthoriserDestination).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.AuthoriserDestination).LabelText("Destination")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.AuthoriserTel).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.AuthoriserTel).LabelText("Tel")
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.AuthoriserMail).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.AuthoriserMail).LabelText("Mail")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(Model.Booking.Attachment))
                        {
                            @Html.Bootstrap().Link(Model.Booking.Attachment, FileUpload.GetImageUrl(FileUploadType.Booking, Model.Booking.Attachment)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                        }
                        @Html.Bootstrap().LabelFor(m => m.Booking.Attachment)
                    </div>
                </div>
                <div class=" col-sm-6">
                    <div class="card card-underline">
                        <div class="card-head">
                            <header>Price</header>
                        </div>
                        <div class="card-body text-default-light">
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.FeePerDelegate).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.FeePerDelegate)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.DiscountPercent).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.DiscountPercent)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.TotalWrittenRevenue).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.TotalWrittenRevenue)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.TotalPaidRevenue).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.TotalPaidRevenue)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextBoxFor(m => m.Booking.PaymentStatusDisplay).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.PaymentStatus)
                            </div>
                            <div class="form-group">
                                @if (!string.IsNullOrEmpty(Model.Booking.ProofOfPayment))
                                {
                                    @Html.Bootstrap().Link(Model.Booking.ProofOfPayment, FileUpload.GetImageUrl(FileUploadType.Booking, Model.Booking.ProofOfPayment)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                                }
                                @Html.Bootstrap().LabelFor(m => m.Booking.ProofOfPayment)
                            </div>
                            <div class="form-group">
                                @if (!string.IsNullOrEmpty(Model.Booking.LetterOfUnderstaking))
                                {
                                    @Html.Bootstrap().Link(Model.Booking.LetterOfUnderstaking, FileUpload.GetImageUrl(FileUploadType.Booking, Model.Booking.LetterOfUnderstaking)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                                }
                                @Html.Bootstrap().LabelFor(m => m.Booking.LetterOfUnderstaking)
                            </div>
                            <div class="form-group">
                                @Html.Bootstrap().TextAreaFor(m => m.Booking.Remarks).Disabled().Class("form-control").ShowValidationMessage(true)
                                @Html.Bootstrap().LabelFor(m => m.Booking.Remarks)
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div>
    </div>

</section>

@Html.Script(
    @<script>

         UpdateSeenNotify(@Model.Booking.ID, @NotifyType.Booking.Value);

         $(document).on('click', '.btnApprove', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("Are you sure you want to approve this booking?", function (isOK) {
                 if (isOK) {
                     location.href = $sefl.attr('href');
                 }
             });
         });
         $(document).on('click', '.btnReject', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("Are you sure you want to reject this booking?", function (isOK) {
                 if (isOK) {
                     $sefl.closest('form').submit();
                 }
             });
         });


         //$("#btnBacklist").on("click",
         //    function(e) {
         //        e.preventDefault();
         //        //if (document.referrer.contains("dashboard")) {

         //        //}
         //    });
    </script>
    )