@using Resources
@model PQT.Web.Models.CallSheetModel

@{
}
<div class="card card-underline" style="background: white; margin: auto; max-width: 700px; position: relative;">
    <div class="card-head">
        <header><b>Call Sheet</b></header>
    </div><!--end .card-head -->

    @using (Ajax.BeginForm("CallSheet", "routeValues", new AjaxOptions { OnFailure = "onFail", OnSuccess = "onSuccess" }, new { @id = "CreateOrEditForm", @class = "form form-validate" }))
    {
        <div class="card-body">
            <div class="success hide">
                @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
                {
                    @Html.Bootstrap().Label("success").HtmlAttributes(new { @class = "textsuccess" }).LabelText(Resource.SaveSuccessful)
                }
            </div>
            <div class="error hide alert-danger">
                @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Error).Closeable()))
                {
                    @Html.Bootstrap().Label("error").HtmlAttributes(new { @class = "texterror" }).LabelText(Resource.SaveFailed)
                }
            </div>
            @Html.HiddenFor(m => m.Lead.ID)
            <div class="form-group">
                <select multiple class="form-control select2-list" name="@Html.NameFor(m=>m.Lead.CompanyID)">
                    @foreach (var user in Model.Companies)
                    {
                        <option value="@user.ID" selected="@(Model.Lead.CompanyID == user.ID)">@user.CompanyName</option>
                    }
                </select>
                <label>COMPANY NAME</label>
            </div>
            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.Lead.GeneralLine).Class("form-control code").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.Lead.GeneralLine).LabelText("GENERAL LINE").ShowRequiredStar(true)
            </div>
            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.Lead.ClientName).Class("form-control code").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.Lead.ClientName).LabelText("CLIENT NAME/ JOB TITLE").ShowRequiredStar(true)
            </div>
            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.Lead.DirectLine).Class("form-control code").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.Lead.DirectLine).LabelText("DIRECT LINE/ MOBILE NUMBER").ShowRequiredStar(true)
            </div>
            
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <a href="javascript:void(0);" class="btn btn-default pull-left"><i class="md md-done"></i> Save & Exit</a>
                <a href="@Url.Action("CallingForm",new{leadId=Model.Lead.ID})" class="btn btn-success simple-ajax-popup-align-top"><i class="md md-phone"></i> Save & Call</a>
            </div>
        </div>
    }
</div><!--end .card -->