@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.LeadMarkKPIModel
@{
    ViewBag.Title = "KPIs";
}

<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-underline">
                <div class="card-head">
                    <header><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</header>
                </div><!--end .card-head -->
                <div class="card-body">
                    <div class="row form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-daterange input-group" id="demo-date-range">
                                    <div class="input-group-content">
                                        @Html.DatePickerFor(m => m.DateFrom, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DateFrom)
                                        @Html.Bootstrap().LabelFor(m => m.DateFrom)
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="input-group-content">
                                        @Html.DatePickerFor(m => m.DateTo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DateTo)
                                        @Html.Bootstrap().LabelFor(m => m.DateTo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            @Html.Bootstrap().Button().Text("Search").Id("btnSearch").PrependIcon(Icons.remove).Size(ButtonSize.Mini).HtmlAttributes(new { @class = "btn btn-primary-me" })
                        </div>
                    </div>
                    <div class="row">
                        <table class="table" id="table">
                            <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>Salesman</th>
                                <th>Country</th>
                                <th style="width: 150px">Company</th>
                                <th>Client Name/Job Title</th>
                                <th>Direct Line/Mobile number</th>
                                <th>Business Phone</th>
                                <th>Mobile Phone</th>
                                <th>Work Email</th>
                                <th>Work Email 1</th>
                                <th>Personal Email</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
</section>

@Html.Script(
    @<script>

         var $Table = $("#table");
        $Table.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             "ajax": {
                 "url": "@Url.Action("AjaxGetCallKPI")",
                 "type": "POST",
                 "datatype": "json",
                 "data": function (d) {
                     d.DateFrom = $('@Html.JquerySelectorFor(m=>m.DateFrom)').val();
                     d.DateTo = $('@Html.JquerySelectorFor(m => m.DateTo)').val();
                 }
             },
             "columns": [
                 { "data": "CreatedTime", "name": "CreatedTime", "orderable": true },
                 { "data": "Salesman", "name": "Salesman", "orderable": true },
                 { "data": "Country", "name": "Country", "orderable": true },
                 { "data": "Company", "name": "Company", "orderable": true },
                 { "data": "ClientName", "name": "ClientName", "orderable": true },
                 { "data": "DirectLine", "name": "DirectLine", "orderable": true },
                 { "data": "BusinessPhone", "name": "BusinessPhone", "orderable": true },
                 { "data": "MobilePhone", "name": "MobilePhone", "orderable": true },
                 { "data": "WorkEmailAddress", "name": "WorkEmailAddress", "orderable": true },
                 { "data": "WorkEmailAddress1", "name": "WorkEmailAddress1", "orderable": true },
                 { "data": "PersonalEmailAddress", "name": "PersonalEmailAddress", "orderable": true },
                 { "data": "ID", "name": "ID", "orderable": false },
             ],
             "iDisplayLength": 50,
             "aaSorting": [[0, "asc"]],
             "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
         });

    </script>
                         )

