@using NS
@using PQT.Domain.Enum
@using Quartz.Util
@using Resources
@model PQT.Web.Models.CallingModel

@{
    ViewBag.Title = "Call Back";
}
<section>
    <div class="section-header">
        <h2><span class="text-primary"><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</span> - <span style="font-size: 18px;"><b>@Model.Event.EventName (@Model.Event.EventCode)</b> - Event Dates: <b>@Model.Event.StartDate.ToString("dd/MM/yy")</b> - <b>@Model.Event.EndDate.ToString("dd/MM/yy")</b></span></h2>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-right: 24px;padding-bottom: 12px">
            @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Detail").RouteValues(new { id = Model.LeadID }).PrependIcon("md md-arrow-back")
        </div>
    </div>
    <div>
        @using (Html.BeginForm("CallingForm", "Lead", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
            <div class="row">
                @Html.Partial("_CallingInfo", Model)
            </div>
                <div class="row">
                    <div class="col-lg-offset-4">
                        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index", "Lead").RouteValues(new { id = Model.EventID }).PrependIcon("md md-arrow-back")
                        @Html.Bootstrap().SubmitButton().Text("Finish").Class("createbookingbtn").PrependIcon("md md-call-end").Style(ButtonStyle.Success)
                    </div>
                </div>
        }
    </div>
</section>

<div id="dvLoading1"></div>
@Html.Script(
    @<script>
         function LoadEventCompanyInfo() {
                 $.ajax({
                     url: '@Url.Action("EventCompanyInfo")?eventId=@Model.EventID&companyID=@Model.Lead.CompanyID',
                     type: 'POST',
                     success: function (data) {
                         StartTick();
                         SetEventCompanyInfo(data);
                         $("#dvLoading1").hide();
                     },
                     error: function () {
                         StartTick();
                         SetEventCompanyInfo(null);
                         $("#dvLoading1").hide();
                     }
                 });
         }

        function SetEventCompanyInfo(data) {
            if (data) {
                $("@Html.JquerySelectorFor(m => m.EventCompany.ID)").val(data.ID);
                @*$("@Html.JquerySelectorFor(m => m.EventCompany.EstimatedDelegateNumber)").val(data.EstimatedDelegateNumber);
                $("@Html.JquerySelectorFor(m => m.EventCompany.FirstFollowUpStatus)").val(data.FirstFollowUpStatus);
                $("@Html.JquerySelectorFor(m => m.EventCompany.FinalStatus)").val(data.FinalStatus);
                $("@Html.JquerySelectorFor(m => m.EventCompany.DateNextFollowUp)").val(data.DateNextFollowUp);
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(data.BudgetMonth).trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.GoodTrainingMonth)").val(data.GoodTrainingMonth).trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.TopicsInterested)").val(data.TopicsInterested);
                $("@Html.JquerySelectorFor(m => m.EventCompany.LocationInterested)").val(data.LocationInterested);
                $("@Html.JquerySelectorFor(m => m.EventCompany.TrainingBudget)").val(data.TrainingBudget);*@
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(data.BudgetMonth).trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val(data.Remarks);
            } else {
                $("@Html.JquerySelectorFor(m => m.EventCompany.ID)").val(0);
                @*$("@Html.JquerySelectorFor(m => m.EventCompany.EstimatedDelegateNumber)").val(0);
                $("@Html.JquerySelectorFor(m => m.EventCompany.FirstFollowUpStatus)").val('');
                $("@Html.JquerySelectorFor(m => m.EventCompany.FinalStatus)").val('');
                $("@Html.JquerySelectorFor(m => m.EventCompany.DateNextFollowUp)").val('');
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val('').trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.GoodTrainingMonth)").val('').trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.TopicsInterested)").val('');
                $("@Html.JquerySelectorFor(m => m.EventCompany.LocationInterested)").val('');
                $("@Html.JquerySelectorFor(m => m.EventCompany.TrainingBudget)").val('');*@
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val('').trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val('');
            }
        }

        LoadEventCompanyInfo();
    </script>
                        )
