@using Resources
@model PQT.Web.Models.CallSheetModel


<div class="card card-underline" style="background: white; margin: auto; max-width: 700px; position: relative;">
    <div class="leadcontent">
        <div class="card-head">
            <header><b>Call Sheet</b></header>
        </div><!--end .card-head -->
        @using (Ajax.BeginForm("CallSheet", "routeValues", new AjaxOptions { OnFailure = "onFailCallSheet", OnSuccess = "onSuccessCallSheet" }, new { @id = "CreateOrEditForm", @class = "form form-validate" }))
            {
            <div class="card-body">
                @Html.HiddenFor(m => m.Lead.ID)
                @Html.HiddenFor(m => m.Lead.EventID)
                @Html.HiddenFor(m => m.Lead.UserID)
                @Html.HiddenFor(m => m.TypeSubmit, new { @class = "typeSubmit" })
                <div class="form-group">
                    <select class="form-control select2-list" name="@Html.NameFor(m => m.Lead.CompanyID)">
                        <option value=""></option>
                        @foreach (var user in Model.Companies)
                        {
                            <option value="@user.ID" selected="@(Model.Lead.CompanyID == user.ID)">@user.CompanyName</option>
                        }
                    </select>
                    <label>COMPANY NAME</label>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().TextBoxFor(m => m.Lead.GeneralLine).Class("form-control code").ShowValidationMessage(true)
                    @Html.Bootstrap().LabelFor(m => m.Lead.GeneralLine).LabelText("GENERAL LINE").ShowRequiredStar(true)
                </div>
                <div class="form-group">
                    @Html.Bootstrap().TextBoxFor(m => m.Lead.ClientName).Class("form-control code").ShowValidationMessage(true)
                    @Html.Bootstrap().LabelFor(m => m.Lead.ClientName).LabelText("CLIENT NAME/ JOB TITLE").ShowRequiredStar(true)
                </div>
                <div class="form-group">
                    @Html.Bootstrap().TextBoxFor(m => m.Lead.DirectLine).Class("form-control code").ShowValidationMessage(true)
                    @Html.Bootstrap().LabelFor(m => m.Lead.DirectLine).LabelText("DIRECT LINE/ MOBILE NUMBER").ShowRequiredStar(true)
                </div>

            </div><!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <a href="#" class="btn btn-default pull-left" id="leadsave_exist"><i class="md md-done"></i> Save & Exit</a>
                    <a href="#" class="btn btn-success" id="leadsave_call"><i class="md md-phone"></i> Save & Call</a>
                </div>
            </div>
        }
    </div>
</div><!--end .card -->
