@using NS
@using PQT.Domain.Entities
@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.CallingModel

@{
}
<div class="card card-underline" style="background: white; margin: auto; max-width: 900px; position: relative;">
    <div class="card-head">
        <header><b>Edit Form</b></header>
    </div><!--end .card-head -->

    @using (Ajax.BeginForm("Edit", "routeValues", new AjaxOptions { OnFailure = "onFailEdit", OnSuccess = "onSuccessEdit" }, new { @id = "CreateOrEditForm", @class = "form" }))
    {
        @Html.HiddenFor(m => m.LeadID)
        <div class="card-body">
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.CompanyName).Class("form-control").Disabled().ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.CompanyName).LabelText("COMPANY NAME")
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.JobTitle).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.JobTitle)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.DirectLine).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.DirectLine)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.LineExtension).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.LineExtension)
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.Bootstrap().DropDownListFor(m => m.Salutation, EnumerationHelper.ToSelectList<NameTitle>()).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.Salutation)
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.FirstName).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.FirstName)
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.LastName).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.LastName)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.MobilePhone1).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.MobilePhone1)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.MobilePhone2).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.MobilePhone2)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.MobilePhone3).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.MobilePhone3)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.WorkEmail).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.WorkEmail)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.WorkEmail1).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.WorkEmail1)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.PersonalEmail).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.PersonalEmail)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.EstimatedDelegateNumber).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.EstimatedDelegateNumber)
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.TrainingBudgetPerHead).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.TrainingBudgetPerHead)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.Bootstrap().DropDownListFor(m => m.GoodTrainingMonth, EnumerationHelper.ToSelectList<MonthStatus>()).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.GoodTrainingMonth)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().DropDownListFor(m => m.FirstFollowUpStatus, EnumerationHelper.ToSelectList<FinalStatus>()).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.FirstFollowUpStatus)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().DropDownListFor(m => m.FinalStatus, EnumerationHelper.ToSelectList<FinalStatus>()).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.FinalStatus)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.TopicsInterested).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.TopicsInterested)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.Bootstrap().TextBoxFor(m => m.LocationInterested).Class("form-control").ShowValidationMessage(true)
                        @Html.Bootstrap().LabelFor(m => m.LocationInterested)
                    </div>
                </div>
            </div>
        </div><!--end .card-body -->
        <div class="card-actionbar">
            <div class="card-actionbar-row">
                <button type="submit" class="btn btn-primary"><i class="md md-done"></i> Save</button>
            </div>
        </div>
    }
</div><!--end .card -->
