@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.LeadModelView

@{
    ViewBag.MenuBarColl = true;
    ViewBag.StartSocket = true;
    ViewBag.Title = "My Call List";
    var eventClosed = Model.Event != null && (Model.Event.IsEventEnd || Model.Event.EndDate.Date < DateTime.Today) ? true : false;
}


<style>
    .table th {
        white-space: nowrap;
    }

    .DTFC_Cloned {
        background: #fff;
    }

        .DTFC_Cloned td {
            background-color: #fff;
        }

        .DTFC_Cloned th {
            background-color: #f5f5f5 !important;
        }

    #tableLead td, table th {
        text-align: left;
        color: #000;
    }



    #tableLead tbody tr {
        height: 78px !important;
    }

        #tableLead tbody tr.Reject td {
            color: #8a6d3b;
            background-color: #ffefd5;
        }

    .DTFC_Cloned tbody tr.Reject td {
        color: #8a6d3b;
        background-color: #fee8c7;
    }

    #tableLead tbody tr.Blocked td {
        color: #a94442;
        background-color: #ffdad7;
    }

    .DTFC_Cloned tbody tr.Blocked td {
        color: #a94442;
        background-color: #feccc7;
    }

    .DTFC_Cloned tbody tr.Initial td {
        color: #000;
        background-color: #f5f5f5;
    }

    #tableLead tbody tr.Live td,
    #tableLead tbody tr.LOI td {
        color: #31708f;
        background-color: #d8edff !important;
    }

    .DTFC_Cloned tbody tr.Live td,
    .DTFC_Cloned tbody tr.LOI td,
    #tableNCList tbody tr.lead_owner td {
        color: #31708f;
        background-color: #c8e4fa !important;
    }


    #tableLead tbody tr.Booked td {
        color: #3c763d;
        background-color: #deffe0;
    }

    .DTFC_Cloned tbody tr.Booked td,
    #tableNCList tbody tr.booked td {
        color: #3c763d;
        background-color: #c7fcca;
    }

    #tableLead tbody tr.RequestNCL td,
    #tableLead tbody tr.RequestLOI td,
    #tableLead tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffed5;
    }

    .DTFC_Cloned tbody tr.RequestNCL td,
    .DTFC_Cloned tbody tr.RequestLOI td,
    .DTFC_Cloned tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffdb7;
    }

    #tableLead tbody tr.NCLExpired td,
    .DTFC_Cloned tbody tr.NCLExpired td {
        color: #000;
        background-color: #f5f5f5;
    }

    .table a {
        text-decoration: underline;
    }

    .expired {
        color: red;
    }
    /*#tableLead tbody tr td {
        min-width: 80px;
    }*/
</style>
<style>
    .delegateItem {
        padding: 20px;
        border: 1px solid #e2e2e2;
    }
</style>
<div class="row text-center" style="margin-bottom: -30px;">
    <div style="margin: 0 auto;float: none;display: inline-flex">
        <div style="width: 150px;margin: 15px;">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                        <strong class="text-xl" id="total_loi">0</strong><br />
                        <span class="opacity-50">TOTAL LOI</span>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
        <div style="width: 150px;margin: 15px;">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-danger no-margin">
                        <strong class="text-xl" id="total_blocked">0</strong><br />
                        <span class="opacity-50">TOTAL BLOCK</span>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
        <div style="width: 150px;margin: 15px;">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-success no-margin">
                        <strong class="text-xl" id="total_booked">0</strong><br />
                        <span class="opacity-50">TOTAL BOOKED</span>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
        <div style="width: 150px;margin: 15px;">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-success no-margin">
                        <strong class="text-xl" id="total_kpi">0</strong><br />
                        <span class="opacity-50">TOTAL KPIs</span>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div><!--end .col -->
</div>
<div class="row">
    <a class="btn ink-reaction btn-floating-action btn-info simple-ajax-popup-align-top" title="Open Sales Rules"
       href="@Url.Action("LoadEventSalesRules","Event", new {eventId = Model.Event.ID})"
       style="position: fixed;top: 80px;right: 0;display: block;z-index: 1006;"><i class="md md-assignment"></i></a>

    <a class="btn ink-reaction btn-floating-action btn-primary expand_new_ncl" title="Open No Call List"
       href="#offcanvas-ncl" data-toggle="offcanvas"
       style="position: fixed;top: 130px;right: 0;display: block;z-index: 1006;"><i class="md md-list"></i></a>

</div>
<section>
    <input type="hidden" value="@Model.Event.ID" id="eventIdNCList" />
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 12px;">
            @Html.Bootstrap().ActionLinkButton("Back to Dashboard", "Index", "Home").PrependIcon("md md-arrow-back")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-underline">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group" style="margin-right: 15px;">
                            @if (CurrentUser.HasPermission("Lead", "CallingForm") && (Model.Event.ClosingDate == null || Model.Event.ClosingDate >= DateTime.Today))
                            {
                                @*<a href="@Url.Action("CallingForm", new {eventId = Model.Event.ID, leadId = 0})" class="btn ink-reaction btn-floating-action btn-success simple-ajax-popup-align-top-custom" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Start New Call"><i class="fa fa-phone fa-2x"></i></a>*@
                                <a href="@Url.Action("StartCallForm", new {id = Model.Event.ID})" class="btn ink-reaction btn-floating-action btn-success" title="Start New Call"><i class="fa fa-phone fa-2x"></i></a>
                            }
                            @*<a class="btn btn-icon-toggle btn-Expand"><i class="fa fa-expand"></i></a>*@
                        </div>
                    </div>
                    <header>
                        <span class="text-primary"><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</span> - <span style="font-size: 18px;"><b>@Model.Event.EventName (@Model.Event.EventCode)</b> - Event Dates: <b>@Model.Event.StartDate.ToString("dd/MM/yy")</b> - <b>@Model.Event.EndDate.ToString("dd/MM/yy")</b></span>
                        @if (!string.IsNullOrEmpty(Model.Event.Brochure))
                        {
                            @: - <a href="@FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.Brochure)" target="_blank" style="font-size: 16px;margin-left: 5px;" title="Download Brochure"><i class="fa fa-download"></i> Brochure</a>
                        }
                    </header>
                </div><!--end .card-head -->
                <div class="card-body">
                    <table class="table" id="tableLead">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Time Updated</th>
                                <th>Country</th>
                                <th style="width: 150px">Company</th>
                                <th style="width: 150px">Client Name/Job Title</th>
                                <th>Direct Line/Mobile number</th>
                                <th>Salutation</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Mobile Phone1</th>
                                <th>Mobile Phone2</th>
                                <th>Mobile Phone3</th>
                                <th>Work Email</th>
                                <th>Personal Email</th>
                                <th>Estimated Delegate</th>
                                <th>Budget Month</th>
                                <th>Good Training Month</th>
                                <th>Topics Interested</th>
                                <th>Location Interested</th>
                                <th>KPI</th>
                                <th>KPI Remarks</th>
                                <th>Call Back</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
</section>

<div class="offcanvas">
    <div id="offcanvas-ncl" class="offcanvas-pane width-12">
        <div class="offcanvas-head">
            <header><a href="@Url.Action("NCL",new {id=Model.Event.ID})" target="_blank">No Call List</a></header>
            <div class="offcanvas-tools" style="left:initial">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body">
            <div class="table-responsive">
                <table class="table" id="tableNCList">
                    <thead>
                        <tr>
                            <th>Date Created</th>
                            <th>Sales</th>
                            <th>Country</th>
                            <th>Organisation</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Script(
    @<script>
         var windowW = $(window).width();
         var windowH = $(window).height();
         var fixedColumn = 0;
         var sizeLenght = 50;
    
         function updateCanvas() {
             var windowW = $(window).width();
             var wCavas = (windowW / 2).toFixed(0);
             if (wCavas < 480) {
                 $('#offcanvas-ncl').css('width', '480px');
             } else {
                 $('#offcanvas-ncl').css('width', wCavas+ 'px');
             }
         }

         updateCanvas();
         window.onresize = function (event) {
             updateCanvas();
         };

         var tableLead = $("#tableLead");
         tableLead.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             "ajax": {
                 "global": false,
                 "url": "@Url.Action("AjaxGetLeads")?eventId=@Model.Event.ID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function(d) {
                 }
             },
             "columns": [
                 { "data": "ID", "name": "ID", "orderable": false },
                 { "data": "CreatedTime", "name": "CreatedTime", "orderable": true },
                 { "data": "Country", "name": "Country", "orderable": true },
                 { "data": "Company", "name": "Company", "orderable": true },
                 { "data": "JobTitle", "name": "JobTitle", "orderable": true },
                 { "data": "DirectLine", "name": "DirectLine", "orderable": true },
                 { "data": "Salutation", "name": "Salutation", "orderable": true },
                 { "data": "FirstName", "name": "FirstName", "orderable": true },
                 { "data": "LastName", "name": "LastName", "orderable": true },
                 { "data": "MobilePhone1", "name": "MobilePhone1", "orderable": true },
                 { "data": "MobilePhone2", "name": "MobilePhone2", "orderable": true },
                 { "data": "MobilePhone3", "name": "MobilePhone3", "orderable": true },
                 { "data": "WorkEmail", "name": "WorkEmail", "orderable": true },
                 { "data": "PersonalEmail", "name": "PersonalEmail", "orderable": true },
                 { "data": "EstimatedDelegateNumber", "name": "EstimatedDelegateNumber", "orderable": true },
                 { "data": "TrainingBudgetPerHead", "name": "TrainingBudgetPerHead", "orderable": true },
                 { "data": "GoodTrainingMonth", "name": "GoodTrainingMonth", "orderable": true },
                 { "data": "TopicsInterested", "name": "TopicsInterested", "orderable": true },
                 { "data": "LocationInterested", "name": "LocationInterested", "orderable": true },
                 { "data": "MarkKPI", "name": "MarkKPI", "orderable": true },
                 { "data": "KPIRemarks", "name": "KPIRemarks", "orderable": true },
                 { "data": "CallBackDate", "name": "CallBackDate", "orderable": true },
                 { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
                 { "data": "ID", "name": "ID", "orderable": false },
             ],
             "iDisplayLength": sizeLenght,
             "aaSorting": [[1, "desc"]],
             "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                 $(nRow).find('td:eq(0)').html('<a class="ink-reaction btn-floating-action btn-primary" title="Call Back" href="@Url.Action("CallingForm")/' +
                     aData["ID"] +
                     '"><i class="fa fa-fw fa-phone"></i></a>');
                 $(nRow).find('td:eq(1)').html('<a href="@Url.Action("Detail")/' +
                     aData["ID"] +
                     '">' +
                     aData["CreatedTime"] +
                     '</a>');
                 $(nRow).find('td:eq(21)').css("white-space", "nowrap");
                 $(nRow).find('td:eq(22)').css("white-space", "nowrap");
                 if (aData["StatusCode"] == @LeadStatus.RequestBook || aData["StatusCode"] == @LeadStatus.Booked) {
                     $(nRow).find('td:eq(22)').html('<a href="@Url.Action("Detail","Booking")?leadId=' +
                         aData["ID"] +
                         '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;">' + aData["StatusDisplay"]+'</span></a>');
                 }
                 if ('@eventClosed' == 'False') {
                     $(nRow).find('td:eq(23)').html('<a class="simple-ajax-popup-align-top" href="@Url.Action("Action")?leadId=' +
                         aData["ID"] + '" ><span class=" text-primary" style="white-space: nowrap;"><i class="md fa-fw md-view-headline"></i> Action<span></a>');
                 }
                 $(nRow).addClass(aData["ClassStatus"]);
                 if (aData["NCLExpired"]) {
                     $(nRow).addClass("NCLExpired");
                     $(nRow).find('td:eq(22)')
                         .html(aData["StatusDisplay"] + '<br/><span class="expired">NCL Expired</span>');
                 }
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
             scrollY: false,
             scrollX: true,
             "bScrollCollapse": false,
             "drawCallback": function (settings, json) {
                 FixedTable();
             },
         });
         function FixedTable() {
             if (fixedColumn < 3) {
                 fixedColumn ++;
                 var fixColumn = new $.fn.dataTable.FixedColumns(tableLead, {
                     leftColumns: 5,
                     sHeightMatch: "auto",
                     rightColumns: 3
                 });
                 var $leftWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_LeftWrapper");
                 if ($leftWrappers.length > 1) {
                     $leftWrappers[1].parentNode.removeChild($leftWrappers[1]);
                 }
                 var $rightWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_RightWrapper");
                 if ($rightWrappers.length > 1) {
                     $rightWrappers[1].parentNode.removeChild($rightWrappers[1]);
                 }
             }
         }
         $(document).on("click", ".paginate_button", function () {
             fixedColumn = 0;
         });
         $(document).on("change", "select[name=table_length]", function () {
             fixedColumn = 0;
         });


         $(document).on('click', '.btnDelete', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmDelete", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("Delete")?id=' + $sefl.data('id'),
                         type: 'POST',
                         success: function (data) {
                             if (data == "") {
                                 toastr.success("Delete successful");
                                 tableLead.fnDeleteRow($sefl.closest('tr')[0]);
                             } else {
                                 toastr.error(data);
                             }
                         },
                         error: function () {
                             toastr.error("Delete failed");
                         }
                     });
                 }
             });
         });
         $(document).on('click', '.btnRequestNCL', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmRequestNCL", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("RequestAction")?id=' + $sefl.data('id')+'&requestType=@LeadStatus.RequestNCL',
                         type: 'POST',
                         success: function (data) {
                             if (data == "") {
                                 toastr.success("Request successful");
                                 fixedColumn = 0;
                                 tableLead.fnFilter('');
                                 $.magnificPopup.close();
                             } else {
                                 toastr.error(data);
                             }
                         },
                         error: function () {
                             toastr.error("Request failed");
                         }
                     });
                 }
             });
         });
         $(document).on('click', '.btnCancelRequest', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmCancelRequest", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("CancelRequest")?id=' + $sefl.data('id'),
                         type: 'POST',
                         success: function (data) {
                             if (data == "") {
                                 toastr.success("Cancel successful");
                                 fixedColumn = 0;
                                 tableLead.fnFilter('');
                                 $.magnificPopup.close();
                             } else {
                                 toastr.error(data);
                             }
                         },
                         error: function () {
                             toastr.error("Cancel failed");
                         }
                     });
                 }
             });
         });
         $(document).on('click', '.btnBlock', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmBlock", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("BlockLead")/' + $sefl.data('id'),
                         type: 'POST',
                         success: function (data) {
                             if (data == "") {
                                 toastr.success("Blocked successful");
                                 fixedColumn = 0;
                                 tableLead.fnFilter('');
                                 $.magnificPopup.close();
                                 LoadTotalNCLSummary();
                             } else {
                                 toastr.error(data);
                             }
                         },
                         error: function () {
                             toastr.error("Block failed");
                         }
                     });
                 }
             });
         });
         $(document).on('click', '.btnUnblock', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmUnblock", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("UnblockLead")/' + $sefl.data('id'),
                         type: 'POST',
                         success: function (data) {
                             if (data == "") {
                                 toastr.success("Unblock successful");
                                 fixedColumn = 0;
                                 tableLead.fnFilter('');
                                 $.magnificPopup.close();
                                 LoadTotalNCLSummary();
                             } else {
                                 toastr.error(data);
                             }
                         },
                         error: function () {
                             toastr.error("Unblock failed");
                         }
                     });
                 }
             });
         });


         var $nclTable = $("#tableNCList");
         $nclTable.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             //"fixedHeader": true,
             "ajax": {
                 "global": false,
                 "url": "@Url.Action("AjaxGetNCList")?eventId=@Model.Event.ID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function (d) {
                 }
             },
             "columns": [
                 { "data": "DateCreatedDisplay", "name": "DateCreatedDisplay", "orderable": true },
                 { "data": "Salesman", "name": "Salesman", "orderable": true },
                 { "data": "CountryCode", "name": "CountryCode", "orderable": true },
                 { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                 { "data": "JobTitle", "name": "JobTitle", "orderable": true },
                 { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
             ],
             "iDisplayLength": 25,
             "aaSorting": [[0, "desc"]],
             "fnDrawCallback": function () {

             },
             "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 @*$(nRow).find('td:eq(1)').attr("style", "text-align:center");
                $(nRow).find('td:eq(4)').html('<a href="@Url.Action("Detail","Audit")/' + aData["ID"] + '" target="_blank"><i class="md md-more"></i></a>');*@
                 $(nRow).addClass(aData["ClassHighlight"]);
                 $(nRow).addClass(aData["ClassNewHighlight"]);
                 if (aData["ClassNewHighlight"]) {
                     $('.expand_new_ncl').addClass('ncl_new');
                 }
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
         });

         ////Select username event
         //$('#userfilter').change(function () {
         //    tableLead.fnDraw();
         //});
         //$('#btnSearch').click(function () {
         //    tableLead.fnDraw();
         //});
         $('.expand_new_ncl').click(function () {
             $('.expand_new_ncl').removeClass('ncl_new');
         });

         //$(".btn-Expand").on("click",
         //    function () {
         //        if ($(this).find('i').hasClass("fa-expand")) {
         //            $(this).parents(".card").parent().addClass("col-md-12");
         //            $(this).parents(".card").parent().removeClass("col-md-8");
         //            $(this).find('i').addClass("fa-compress");
         //            $(this).find('i').removeClass("fa-expand");
         //            tableLead.css("width", "100%");
         //            fixedColumn = 0;
         //            FixedTable();
         //        } else {
         //            $(this).parents(".card").parent().removeClass("col-md-12");
         //            $(this).parents(".card").parent().addClass("col-md-8");
         //            $(this).find('i').removeClass("fa-compress");
         //            $(this).find('i').addClass("fa-expand");
         //            fixedColumn = 0;
         //            FixedTable();
         //        }
         //    });

         //$(".btn-Expand-NCL").on("click",
         //    function () {
         //        if ($(this).find('i').hasClass("fa-expand")) {
         //            $(this).parents(".card").parent().addClass("col-md-12");
         //            $(this).parents(".card").parent().removeClass("col-md-4");
         //            $(this).find('i').addClass("fa-compress");
         //            $(this).find('i').removeClass("fa-expand");
         //            $nclTable.css("width","100%");
         //        } else {
         //            $(this).parents(".card").parent().removeClass("col-md-12");
         //            $(this).parents(".card").parent().addClass("col-md-4");
         //            $(this).find('i').removeClass("fa-compress");
         //            $(this).find('i').addClass("fa-expand");
         //        }
         //    });


    </script>
                         )

@Html.Script(
    @<script>

         $(document).on('click', '#request_close', function (e) {
             e.preventDefault();
             $.magnificPopup.close();
         });

         $(document).on('click', '#request_submit', function (e) {
             e.preventDefault();
             var formdata = new FormData();
             formdata.append("id", $("#request_id").val());
             formdata.append("requestType", $("#request_Type").val());
             var getfile = $('#request-attachment')[0];
             if (getfile) {
                 for (var i = 0; i < getfile.files.length; i++) {
                     if (getfile.files[i].name) {
                         formdata.append("AttachmentFile", getfile.files[i]);
                     }
                 }
             }
             $("#dvLoading").show();
             $.ajax({
                 url: '@Url.Action("RequestAction")',
                 data: formdata,
                 contentType: false,
                 processData: false,
                 async: false,
                 type: 'POST',
                 success: function (data) {
                     if (data == "") {
                         toastr.success("Submit successful");
                         $.magnificPopup.close();
                         tableLead.fnFilter('');
                     } else {
                         toastr.error(data);
                     }
                 },
                 error: function () {
                     toastr.error("Submit failed");
                 }
             });
         });

    </script>)

@Html.Script(
    @<script>
         function onFailRejectAction() {
             toastr.error('@Resource.SaveError');
         }
         function onSuccessRejectAction(data) {
             if (data == "") {
                 toastr.success("Reject successful");
                 $.magnificPopup.close();
                 fixedColumn = 0;
                 tableLead.fnFilter('');
             } else {
                 toastr.error(data);
             }
         }
    </script>)


@Html.Script(
    @<script>

         function onFailEdit() {
             toastr.error('@Resource.SaveError');
         }
         function onSuccessEdit(data) {
             if (data.Code == 0) {
                 if (data.Message)
                     toastr.error(data.Message);
                 else
                     toastr.error('@Resource.SaveFailed');
             } else {
                 if (data.Code == 1) {
                     toastr.success('@Resource.UpdateSuccessful');
                     $.magnificPopup.close();
                     fixedColumn = 0;
                     tableLead.fnFilter('');
                 }
             }
         }
    </script>)

@Html.Script(
    @<script>
         function LoadTotalNCLSummary() {
             $.ajax({
                 global: false,
                 url: '@Url.Action("AjaxGetTotalNCL")?eventId=@Model.Event.ID',
                 type: 'POST',
                 success: function (data) {
                     $("#total_loi").text(data.TotalLOI);
                     $("#total_blocked").text(data.TotalBlocked);
                     $("#total_booked").text(data.TotalBooked);
                     $("#total_kpi").text(data.TotalKPI);
                 },
                 error: function () {
                 }
             });
         }

         LoadTotalNCLSummary();
    </script>)