@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.LeadModelView

@{
    ViewBag.MenuBarColl = true;
    ViewBag.StartSocket = true;
    ViewBag.Title = "No Call List";
}


<style>
    .table th {
        white-space: nowrap;
    }

    .DTFC_Cloned {
        background: #fff;
    }

        .DTFC_Cloned td {
            background-color: #fff;
        }

        .DTFC_Cloned th {
            background-color: #f5f5f5 !important;
        }

    #tableLead td, table th {
        text-align: left;
        color: #000;
    }


    #tableLead tbody tr {
        height: 78px !important;
    }


    #tableLead tbody tr.Reject td {
        color: #8a6d3b;
        background-color: #ffefd5;
    }

    .DTFC_Cloned tbody tr.Reject td {
        color: #8a6d3b;
        background-color: #fee8c7;
    }

    #tableLead tbody tr.Blocked td {
        color: #a94442;
        background-color: #ffdad7;
    }

    .DTFC_Cloned tbody tr.Blocked td {
        color: #a94442;
        background-color: #feccc7;
    }

    .DTFC_Cloned tbody tr.Initial td {
        color: #000;
        background-color: #f5f5f5;
    }

    #tableLead tbody tr.Live td,
    #tableLead tbody tr.LOI td {
        color: #31708f;
        background-color: #d8edff !important;
    }

    .DTFC_Cloned tbody tr.Live td,
    .DTFC_Cloned tbody tr.LOI td,
    #tableNCList tbody tr.lead_owner td {
        color: #31708f;
        background-color: #c8e4fa !important;
    }


    #tableLead tbody tr.Booked td {
        color: #3c763d;
        background-color: #deffe0;
    }

    .DTFC_Cloned tbody tr.Booked td,
    #tableNCList tbody tr.booked td {
        color: #3c763d;
        background-color: #c7fcca;
    }

    #tableLead tbody tr.RequestNCL td,
    #tableLead tbody tr.RequestLOI td,
    #tableLead tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffed5;
    }

    .DTFC_Cloned tbody tr.RequestNCL td,
    .DTFC_Cloned tbody tr.RequestLOI td,
    .DTFC_Cloned tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffdb7;
    }
</style>
<section>
    <div class="section-header">
        <h2>
            <span class="text-primary"><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</span>
            @Html.Bootstrap().ActionLinkButton("Back to Dashboard", "Index", "Home").PrependIcon("md md-arrow-back").Class("")
        </h2>
    </div>
    <input type="hidden" value="@Model.Event.ID" id="eventIdNCList" />
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-underline">
                <div class="card-head">
                    <header style="line-height: 27px;">
                        <span style="font-size: 18px;"><b>Event Name: </b>@Model.Event.EventName (@Model.Event.EventCode) - <b>Event Dates: </b>@Model.Event.StartDate.ToString("dd/MM/yy") - @Model.Event.EndDate.ToString("dd/MM/yy")</span>
                        @if (!string.IsNullOrEmpty(Model.Event.SalesBrochure))
                        {
                            @: - <a href="@FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.SalesBrochure)" target="_blank" style="font-size: 16px; margin-left: 5px;" title="Download Brochure"><i class="fa fa-download"></i> Sales Brochure</a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Event.RegContract))
                        {
                            @: - <a href="@FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.RegContract)" target="_blank" style="font-size: 16px; margin-left: 5px;" title="Download Reg Contract"><i class="fa fa-download"></i> Reg Contract</a>
                        }
                        <br />
                        <span style="font-size: 18px;">@Html.Raw(!string.IsNullOrEmpty(Model.Event.FinanceEmail) ? "<b>Finance: </b>" + @Model.Event.FinanceEmail : "") @Html.Raw(!string.IsNullOrEmpty(Model.Event.OperationOnsiteEmail) ? " - <b>Operation Onsite: </b>" + @Model.Event.OperationOnsiteEmail : "") @Html.Raw(!string.IsNullOrEmpty(Model.Event.OperationEmail) ? " - <b>Operation Office: </b>" + @Model.Event.OperationEmail : "")</span>
                    </header>
                </div><!--end .card-head -->
                <div class="card-body">
                    <table class="table" id="tableNCList">
                        <thead>
                        <tr>
                            <th>Time Updated</th>
                            <th>Sales</th>
                            <th>Country</th>
                            <th>Company</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                    </table>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
</section>


@Html.Script(
    @<script>
         var windowW = $(window).width();
         var windowH = $(window).height();
         var fixedColumn = 0;
         var sizeLenght = 50;

         var $nclTable = $("#tableNCList");
         $nclTable.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             //"fixedHeader": true,
             "ajax": {
                 "global": false,
                 "url": "@Url.Action("AjaxGetNCList")?eventId=@Model.Event.ID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function (d) {
                 }
             },
             "columns": [
                 { "data": "DateCreatedDisplay", "name": "DateCreatedDisplay", "orderable": true },
                 { "data": "Salesman", "name": "Salesman", "orderable": true },
                 { "data": "CountryCode", "name": "CountryCode", "orderable": true },
                 { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                 { "data": "JobTitle", "name": "JobTitle", "orderable": true },
                 { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
             ],
             "iDisplayLength": 25,
             "aaSorting": [[0, "desc"]],
             "fnDrawCallback": function () {

             },
             "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 $(nRow).addClass(aData["ClassHighlight"]);
                 $(nRow).addClass(aData["ClassNewHighlight"]);
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
         });



    </script>
                         )
