@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.LeadModelView

@{
    ViewBag.MenuBarColl = true;
    ViewBag.StartSocket = true;
    ViewBag.Title = "No Call List";
}


<style>
    .table > tbody > tr > td{
        vertical-align: middle;
    }
    .table > tbody > tr > td > p{
        margin-bottom: 0px;
    }
    .truncate {
        width: 150px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .truncate100 {
        width: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .table th {
        white-space: nowrap;
    }

    .DTFC_Cloned {
        background: #fff;
    }

        .DTFC_Cloned td {
            background-color: #fff;
        }

        .DTFC_Cloned th {
            background-color: #f5f5f5 !important;
        }

    #tableLead td, table th {
        text-align: left;
        color: #000;
    }

    #tableLead tbody tr {
        height: 78px !important;
    }


        #tableLead tbody tr.Reject td {
            color: #8a6d3b;
            background-color: #ffefd5;
        }

    .DTFC_Cloned tbody tr.Reject td {
        color: #8a6d3b;
        background-color: #fee8c7;
    }

    #tableLead tbody tr.Blocked td {
        color: #a94442;
        background-color: #ffdad7;
    }

    .DTFC_Cloned tbody tr.Blocked td {
        color: #a94442;
        background-color: #feccc7;
    }

    .DTFC_Cloned tbody tr.Initial td {
        color: #000;
        background-color: #f5f5f5;
    }

    #tableLead tbody tr.Live td,
    #tableLead tbody tr.LOI td {
        color: #31708f;
        background-color: #d8edff !important;
    }

    .DTFC_Cloned tbody tr.Live td,
    .DTFC_Cloned tbody tr.LOI td,
    #tableNCList tbody tr.lead_owner td {
        color: #31708f;
        background-color: #c8e4fa !important;
    }


    #tableLead tbody tr.Booked td {
        color: #3c763d;
        background-color: #deffe0;
    }

    .DTFC_Cloned tbody tr.Booked td,
    #tableNCList tbody tr.booked td {
        color: #3c763d;
        background-color: #c7fcca;
    }

    #tableLead tbody tr.RequestNCL td,
    #tableLead tbody tr.RequestLOI td,
    #tableLead tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffed5;
    }

    .DTFC_Cloned tbody tr.RequestNCL td,
    .DTFC_Cloned tbody tr.RequestLOI td,
    .DTFC_Cloned tbody tr.RequestBooking td {
        color: #a5a100;
        background-color: #fffdb7;
    }


    @@-webkit-keyframes glowing {
        0% {
            background-color: #ffffff;
        }

        50% {
            background-color: #ffffa3;
        }

        100% {
            background-color: #ffffff;
        }
    }

    @@-moz-keyframes glowing {
        0% {
            background-color: #ffffff;
        }

        50% {
            background-color: #ffffa3;
        }

        100% {
            background-color: #ffffff;
        }
    }

    @@-o-keyframes glowing {
        0% {
            background-color: #ffffff;
        }

        50% {
            background-color: #ffffa3;
        }

        100% {
            background-color: #ffffff;
        }
    }

    @@keyframes glowing {
        0% {
            background-color: #ffffff;
        }

        50% {
            background-color: #ffffa3;
        }

        100% {
            background-color: #ffffff;
        }
    }

    .ncl_new {
        -webkit-animation: glowing 1000ms infinite;
        -moz-animation: glowing 1000ms infinite;
        -o-animation: glowing 1000ms infinite;
        animation: glowing 1000ms infinite;
        color: #0aa89e
    }

        .ncl_new:hover {
            color: #0aa89e
        }

    .table a {
        text-decoration: underline;
    }
    .expired {
        color: red;
        white-space: nowrap;
    }
</style>
<section>
    <div class="section-header" style="margin-bottom: -20px;">
        <h2>
            <span class="text-primary"><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</span>
            @Html.Bootstrap().ActionLinkButton("Back to Dashboard", "Index", "Home").PrependIcon("md md-arrow-back").Class("")
        </h2>
    </div>
    <div class="row text-center" style="margin-bottom: -30px;">
        <div style="margin: 0 auto; float: none; display: inline-flex">
            <div style="width: 150px; margin: 15px;">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-info no-margin">
                            <strong class="text-xl" id="total_loi">0</strong><br />
                            <span class="opacity-50">TOTAL LOI</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>
            <div style="width: 150px; margin: 15px;">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">
                            <strong class="text-xl" id="total_blocked">0</strong><br />
                            <span class="opacity-50">TOTAL BLOCKED</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>
            <div style="width: 150px; margin: 15px;">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <strong class="text-xl" id="total_booked">0</strong><br />
                            <span class="opacity-50">TOTAL BOOKED</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>
            <div style="width: 150px; margin: 15px;">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <strong class="text-xl" id="total_kpi">0</strong><br />
                            <span class="opacity-50">TOTAL KPIs</span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div>
        </div><!--end .col -->
    </div>
    <div class="row">
        <a class="btn ink-reaction btn-floating-action btn-info simple-ajax-popup-align-top" title="Open Sales Rules"
           href="@Url.Action("LoadEventSalesRules", "Event", new {eventId = Model.Event.ID})"
           style="position: fixed; top: 80px; right: 0; display: block; z-index: 1006;"><i class="md md-assignment"></i></a>

        <a class="btn ink-reaction btn-floating-action btn-primary expand_new_ncl" title="Open No Call List"
           href="#offcanvas-ncl" data-toggle="offcanvas"
           style="position: fixed; top: 130px; right: 0; display: block; z-index: 1006;"><i class="md md-list"></i></a>

    </div>
    <div class="row">
        <input type="hidden" value="@Model.Event.ID" id="eventIdNCList" />
        <div class="col-md-12">
            <div class="card  card-underline">
                <div class="card-head">
                    <div class="tools">
                        <div class="btn-group" style="margin-right: 15px;">
                            @if (CurrentUser.HasPermission("Kpi", "ImportVoIp"))
                            {
                                <a href="@Url.Action("ImportVoIp", "Kpi", new {id = Model.Event.ID})" class="btn ink-reaction btn-floating-action btn-primary" title="Import VoIP & Check KPI"><i class="fa fa-upload fa-2x" style="font-size: 24px;"></i></a>
                            }
                        </div>
                    </div>
                    <header style="line-height: 27px;">
                        <span style="font-size: 18px;"><b>Event Name: </b>@Model.Event.EventName (@Model.Event.EventCode) - <b>Event Dates: </b>@Model.Event.StartDate.ToString("dd/MM/yy") - @Model.Event.EndDate.ToString("dd/MM/yy")</span>
                        @if (!string.IsNullOrEmpty(Model.Event.SalesBrochure))
                        {
                            @: - <a href="@FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.SalesBrochure)" target="_blank" style="font-size: 16px; margin-left: 5px;" title="Download Brochure"><i class="fa fa-download"></i> Sales Brochure</a>
                        }
                        @if (!string.IsNullOrEmpty(Model.Event.RegContract))
                        {
                            @: - <a href="@FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.RegContract)" target="_blank" style="font-size: 16px; margin-left: 5px;" title="Download Reg Contract"><i class="fa fa-download"></i> Reg Contract</a>
                        }
                        <br />
                        <span style="font-size: 18px;">@Html.Raw(!string.IsNullOrEmpty(Model.Event.FinanceEmail) ? "<b>Finance: </b>" + @Model.Event.FinanceEmail : "") @Html.Raw(!string.IsNullOrEmpty(Model.Event.OperationOnsiteEmail) ? " - <b>Operation Onsite: </b>" + @Model.Event.OperationOnsiteEmail : "") @Html.Raw(!string.IsNullOrEmpty(Model.Event.OperationEmail) ? " - <b>Operation Office: </b>" + @Model.Event.OperationEmail : "")</span>
                    </header>
                </div><!--end .card-head -->
                <div class="card-body">
                    <table class="table" id="tableLead">
                        <thead>
                            <tr>
                                <th>Time Updated</th>
                                <th style="width: 80px">Salesman</th>
                                <th>Country</th>
                                <th style="width: 150px">Company</th>
                                <th style="width: 150px">Job Title</th>
                                <th>Direct Line/Mobile</th>
                                <th>Salutation</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Mobile Phone1</th>
                                <th>Mobile Phone2</th>
                                <th>Mobile Phone3</th>
                                <th>Work Email</th>
                                <th>Personal Email</th>
                                <th>Estimated Delegate</th>
                                <th>Training Budget</th>
                                <th>Good Training Month</th>
                                <th>First Follow Up Status</th>
                                <th>Final Status</th>
                                <th>Call Back</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
</section>

<div class="offcanvas">
    <div id="offcanvas-ncl" class="offcanvas-pane width-12">
        <div class="offcanvas-head">
            <header><a href="@Url.Action("NCL",new {id=Model.Event.ID})" target="_blank">No Call List</a></header>
            <div class="offcanvas-tools" style="left:initial">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body">
            <div class="table-responsive">
                <table class="table" id="tableNCList">
                    <thead>
                        <tr>
                            <th>Date Created</th>
                            <th>Sales</th>
                            <th>Country</th>
                            <th>Organisation</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Script(
    @<script>
         var windowW = $(window).width();
         var windowH = $(window).height();
         var fixedColumn = 0;
         var sizeLenght = 50;

         function updateCanvas() {
             var windowW = $(window).width();
             var wCavas = (windowW / 2).toFixed(0);
             if (wCavas < 480) {
                 $('#offcanvas-ncl').css('width', '480px');
             } else {
                 $('#offcanvas-ncl').css('width', wCavas + 'px');
             }
         }

         updateCanvas();
         window.onresize = function (event) {
             updateCanvas();
         };


         var tableLead = $("#tableLead");
         var dataTableLead = tableLead.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             "ajax": {
                 "url": "@Url.Action("AjaxGetNoCallListForManager")?eventId=@Model.Event.ID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function(d) {
                 }
             },
             "columns": [
                 { "data": "CreatedTime", "name": "CreatedTime", "orderable": true },
                 { "data": "Salesman", "name": "Salesman", "orderable": true },
                 { "data": "Country", "name": "Country", "orderable": true },
                 { "data": "Company", "name": "Company", "orderable": true },
                 { "data": "JobTitle", "name": "JobTitle", "orderable": true },
                 { "data": "DirectLine", "name": "DirectLine", "orderable": true },
                 { "data": "Salutation", "name": "Salutation", "orderable": true },
                 { "data": "FirstName", "name": "FirstName", "orderable": true },
                 { "data": "LastName", "name": "LastName", "orderable": true },
                 { "data": "MobilePhone1", "name": "MobilePhone1", "orderable": true },
                 { "data": "MobilePhone2", "name": "MobilePhone2", "orderable": true },
                 { "data": "MobilePhone3", "name": "MobilePhone3", "orderable": true },
                 { "data": "WorkEmail", "name": "WorkEmail", "orderable": true },
                 { "data": "PersonalEmail", "name": "PersonalEmail", "orderable": true },
                 { "data": "EstimatedDelegateNumber", "name": "EstimatedDelegateNumber", "orderable": true },
                 { "data": "TrainingBudgetPerHead", "name": "TrainingBudgetPerHead", "orderable": true },
                 { "data": "GoodTrainingMonth", "name": "GoodTrainingMonth", "orderable": true },
                 { "data": "FirstFollowUpStatus", "name": "FirstFollowUpStatus", "orderable": true },
                 { "data": "FinalStatus", "name": "FinalStatus", "orderable": true },
                 { "data": "CallBackDate", "name": "CallBackDate", "orderable": true },
                 { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
                 { "data": "ID", "name": "ID", "orderable": false },
                 { "data": "ID", "name": "ID", "orderable": false },
             ],
             "iDisplayLength": sizeLenght,
             "aaSorting": [[22, "desc"]],
             "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 updateTableRow(nRow, aData);
                 $(nRow).find('td:eq(1)').html('<p title="' + aData["Salesman"] + '" class="truncate100">' + aData["Salesman"] + '</p>');
                 $(nRow).find('td:eq(3)').html('<p title="' + aData["Company"] + '" class="truncate">' + aData["Company"] + '</p>');
                 $(nRow).find('td:eq(4)').html('<p title="' + aData["JobTitle"] + '" class="truncate">' + aData["JobTitle"] + '</p>');
                 if (aData["NCLExpired"]) {
                     $(nRow).addClass("NCLExpired");
                     $(nRow).find('td:eq(20)')
                         .html(aData["StatusDisplay"] + '<br/><span class="expired">NCL Expired</span>');
                 }
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         fixedColumn = 0;
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
             scrollY: false,
             scrollX: true,
             "bScrollCollapse": false,
             "drawCallback": function (settings, json) {
                 FixedTable();
             },
         });

         function updateTableRow(nRow,data) {
                $(nRow).find('td:eq(0)').html('<a href="@Url.Action("Detail")/' + data["ID"] + '">' + data["CreatedTime"] + '</a>');
                if (data["StatusCode"] == @LeadStatus.RequestBook || data["StatusCode"] == @LeadStatus.Booked) {
                    $(nRow).find('td:eq(20)').html('<a href="@Url.Action("Detail","Booking")?leadId=' +
                    data["ID"] + '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;">' + data["StatusDisplay"]+'</span></a>');
                }
                $(nRow).find('td:eq(21)').html('<a href="@Url.Action("Detail")?id=' + data["ID"] + '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;"><i class="fa fa-fw fa-eye"></i> Detail</span></a>');
                if (data["StatusCode"] == '@LeadStatus.RequestNCL' || data["StatusCode"] == '@LeadStatus.RequestLOI') {
                    $(nRow).find('td:eq(22)').html('<a href="#" data-action="Approval" data-id="' +
                        data["ID"] +
                        '"><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/><a class="simple-ajax-popup-align-top" href="@Url.Action("RejectAction")?id=' +
                        data["ID"] +
                        '"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                } else if (data["StatusCode"] == '@LeadStatus.RequestBook') {
                    $(nRow).find('td:eq(22)').html('<a href="@Url.Action("Detail", "Booking")?leadId=' +
                        data["ID"] +
                        '&eventId=@Model.Event.ID" ><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/>' +
                        '<a href="@Url.Action("Detail", "Booking")?leadId=' +
                        data["ID"] +
                        '&eventId=@Model.Event.ID"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                } else {
                    $(nRow).find('td:eq(22)').html('');
                }
                $(nRow).find('td:eq(22)').css("min-height", " 91px");
                $(nRow).find('td:eq(22)').css("white-space", "nowrap");
                $(nRow).removeClass("Reject");
                $(nRow).removeClass("Blocked");
                $(nRow).removeClass("Initial");
                $(nRow).removeClass("Live");
                $(nRow).removeClass("LOI");
                $(nRow).removeClass("Booked");
                $(nRow).removeClass("RequestNCL");
                $(nRow).removeClass("RequestLOI");
                $(nRow).removeClass("RequestBooking");
                $(nRow).addClass(data["ClassStatus"]);
                $(nRow).attr("data-id", data["ID"]);
         }

         function FixedTable() {
             if (fixedColumn < 3) {
                 fixedColumn ++;
                 var fixColumn = new $.fn.dataTable.FixedColumns(tableLead, {
                     leftColumns: 5,
                     sHeightMatch: "auto",
                     rightColumns: 3
                 });
                 var $leftWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_LeftWrapper");
                 if ($leftWrappers.length > 1) {
                     $leftWrappers[1].parentNode.removeChild($leftWrappers[1]);
                 }
                 var $rightWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_RightWrapper");
                 if ($rightWrappers.length > 1) {
                     $rightWrappers[1].parentNode.removeChild($rightWrappers[1]);
                 }
             }
         }
         $(document).on("click", ".paginate_button", function () {
             fixedColumn = 0;
         });
         $(document).on("change", "select[name=table_length]", function () {
             fixedColumn = 0;
         });


         tableLead.on('click', '[data-action="Approval"]', function (e) {
             e.preventDefault();
             var $sefl = $(this);
             bootbox.confirm("@Resource.ConfirmApprove", function (isOK) {
                 if (isOK) {
                     $("#dvLoading").show();
                     $.ajax({
                         url: '@Url.Action("ApprovalAction")?id=' + $sefl.data('id') + '&hubConnectionId=' + hubConnectionId,
                         type: 'POST',
                         success: function (data) {
                             if (data.IsSuccess) {
                                 toastr.success("Approved successful");

                                 data = data.Data;
                                 var tr = $(tableLead.fnGetNodes());
                                 tr.each(function(index, nRow) {
                                     if ($(nRow).data('id') == data.ID) {
                                         updateTableRow(nRow, data);
                                     }
                                 });
                                 tr = $(".DTFC_LeftBodyLiner").find(".dataTable").find("tr");
                                 tr.each(function(index, nRow) {
                                     if ($(nRow).data('id') != undefined && $(nRow).data('id') == data.ID) {
                                         $(nRow).removeClass("Reject");
                                         $(nRow).removeClass("Blocked");
                                         $(nRow).removeClass("Initial");
                                         $(nRow).removeClass("Live");
                                         $(nRow).removeClass("LOI");
                                         $(nRow).removeClass("Booked");
                                         $(nRow).removeClass("RequestNCL");
                                         $(nRow).removeClass("RequestLOI");
                                         $(nRow).removeClass("RequestBooking");
                                         $(nRow).addClass(data["ClassStatus"]);
                                     }
                                 });
                                 tr = $(".DTFC_RightBodyLiner").find(".dataTable").find("tr");
                                 tr.each(function(index, nRow) {
                                     if ($(nRow).data('id') == data.ID) {

                                        if (data["StatusCode"] == @LeadStatus.RequestBook ||
                                            data["StatusCode"] == @LeadStatus.Booked) {
                                            $(nRow).find('td:eq(0)').html(
                                                '<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                                data["ID"] +
                                                '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;">' +
                                                data["StatusDisplay"] +
                                                '</span></a>');
                                        } else {
                                            $(nRow).find('td:eq(0)').html(data["StatusDisplay"]);
                                        }
                                        $(nRow).find('td:eq(1)').html('<a href="@Url.Action("Detail")?id=' +
                                            data["ID"] +
                                            '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;"><i class="fa fa-fw fa-eye"></i> Detail</span></a>');
                                        if (data["StatusCode"] == '@LeadStatus.RequestNCL' ||
                                            data["StatusCode"] == '@LeadStatus.RequestLOI') {
                                            $(nRow).find('td:eq(2)').html('<a href="#" data-action="Approval" data-id="' +
                                                data["ID"] +
                                                '"><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/><a class="simple-ajax-popup-align-top" href="@Url.Action("RejectAction")?id=' +
                                                data["ID"] +
                                                '"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                                        } else if (data["StatusCode"] == '@LeadStatus.RequestBook') {
                                            $(nRow).find('td:eq(2)').html('<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                                data["ID"] +
                                                '&eventId=@Model.Event.ID" ><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/>' +
                                                '<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                                data["ID"] +
                                                '&eventId=@Model.Event.ID"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                                        } else {
                                            $(nRow).find('td:eq(2)').html('');
                                        }

                                        $(nRow).removeClass("Reject");
                                        $(nRow).removeClass("Blocked");
                                        $(nRow).removeClass("Initial");
                                        $(nRow).removeClass("Live");
                                        $(nRow).removeClass("LOI");
                                        $(nRow).removeClass("Booked");
                                        $(nRow).removeClass("RequestNCL");
                                        $(nRow).removeClass("RequestLOI");
                                        $(nRow).removeClass("RequestBooking");
                                        $(nRow).addClass(data["ClassStatus"]);
                                     }
                                 });
                             } else {
                                 toastr.error(data.Message);
                             }
                         },
                         error: function () {
                             toastr.error("Approve failed");
                         }
                     });
                 }
             });
         });

         var $nclTable = $("#tableNCList");
         $nclTable.dataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             //"fixedHeader": true,
             "ajax": {
                 "global": false,
                 "url": "@Url.Action("AjaxGetNCList")?eventId=@Model.Event.ID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function (d) {
                 }
             },
             "columns": [
                 { "data": "DateCreatedDisplay", "name": "DateCreatedDisplay", "orderable": true },
                 { "data": "Salesman", "name": "Salesman", "orderable": true },
                 { "data": "CountryCode", "name": "CountryCode", "orderable": true },
                 { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                 { "data": "JobTitle", "name": "JobTitle", "orderable": true },
                 { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
             ],
             "iDisplayLength": 25,
             "aaSorting": [[0, "desc"]],
             "fnDrawCallback": function () {

             },
             "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 $(nRow).addClass(aData["ClassHighlight"]);
                 $(nRow).addClass(aData["ClassNewHighlight"]);
                 if (aData["ClassNewHighlight"]) {
                     $('.expand_new_ncl').addClass('ncl_new');
                 }
             },
             initComplete: function () {
                 var _table = this;
                 _table.parent().find('input[type="search"]').unbind();
                 var timeOutTyping;
                 _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function () {
                         _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                     }, 600);
                 });
             },
         });

         $('.expand_new_ncl').click(function () {
             $('.expand_new_ncl').removeClass('ncl_new');
         });

    </script>)

@Html.Script(
    @<script>

         $(document).on('click', '#request_close', function (e) {
             e.preventDefault();
             $.magnificPopup.close();
         });

         function onFailRejectAction() {
             toastr.error('@Resource.SaveError');
         }
         function onSuccessRejectAction(data) {
             if (data.IsSuccess) {
                 toastr.success("Reject successful");
                 $.magnificPopup.close();
                 data = data.Data;
                 var tr = $(tableLead.fnGetNodes());
                 tr.each(function(index, nRow) {
                     if ($(nRow).data('id') == data.ID) {
                         updateTableRow(nRow, data);
                     }
                 });
                 tr = $(".DTFC_LeftBodyLiner").find(".dataTable").find("tr");
                 tr.each(function(index, nRow) {
                     if ($(nRow).data('id') != undefined && $(nRow).data('id') == data.ID) {
                         $(nRow).removeClass("Reject");
                         $(nRow).removeClass("Blocked");
                         $(nRow).removeClass("Initial");
                         $(nRow).removeClass("Live");
                         $(nRow).removeClass("LOI");
                         $(nRow).removeClass("Booked");
                         $(nRow).removeClass("RequestNCL");
                         $(nRow).removeClass("RequestLOI");
                         $(nRow).removeClass("RequestBooking");
                         $(nRow).addClass(data["ClassStatus"]);
                     }
                 });
                 tr = $(".DTFC_RightBodyLiner").find(".dataTable").find("tr");
                 tr.each(function(index, nRow) {
                     if ($(nRow).data('id') == data.ID) {
                        if (data["StatusCode"] == @LeadStatus.RequestBook ||
                            data["StatusCode"] == @LeadStatus.Booked) {
                            $(nRow).find('td:eq(0)').html('<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                data["ID"] +
                                '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;">' +
                                data["StatusDisplay"] +
                                '</span></a>');
                        } else {
                            $(nRow).find('td:eq(0)').html(data["StatusDisplay"]);
                        }
                        $(nRow).find('td:eq(1)').html('<a href="@Url.Action("Detail")?id=' +
                            data["ID"] +
                            '&eventId=@Model.Event.ID"><span class=" text-default"  style="white-space: nowrap;"><i class="fa fa-fw fa-eye"></i> Detail</span></a>');
                        if (data["StatusCode"] == '@LeadStatus.RequestNCL' ||
                            data["StatusCode"] == '@LeadStatus.RequestLOI') {
                            $(nRow).find('td:eq(2)').html('<a href="#" data-action="Approval" data-id="' +
                                data["ID"] +
                                '"><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/><a class="simple-ajax-popup-align-top" href="@Url.Action("RejectAction")?id=' +
                                data["ID"] +
                                '"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                        } else if (data["StatusCode"] == '@LeadStatus.RequestBook') {
                            $(nRow).find('td:eq(2)').html('<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                data["ID"] +
                                '&eventId=@Model.Event.ID" ><span class=" text-success"><i class="md fa-fw md-done"></i> Approve</span></a><br/>' +
                                '<a href="@Url.Action("Detail", "Booking")?leadId=' +
                                data["ID"] +
                                '&eventId=@Model.Event.ID"><span class=" text-danger"><i class="md fa-fw md-cancel"></i> Reject</span></a>');
                        } else {
                            $(nRow).find('td:eq(2)').html('');
                        }

                        $(nRow).removeClass("Reject");
                        $(nRow).removeClass("Blocked");
                        $(nRow).removeClass("Initial");
                        $(nRow).removeClass("Live");
                        $(nRow).removeClass("LOI");
                        $(nRow).removeClass("Booked");
                        $(nRow).removeClass("RequestNCL");
                        $(nRow).removeClass("RequestLOI");
                        $(nRow).removeClass("RequestBooking");
                        $(nRow).addClass(data["ClassStatus"]);
                     }
                 });
             } else {
                 toastr.error(data.Message);
             }
         }
    </script>)

@Html.Script(
    @<script>
         function LoadTotalNCLSummary() {
             $.ajax({
                 global: false,
                 url: '@Url.Action("AjaxGetTotalNCLForManager")?eventId=@Model.Event.ID',
                 type: 'POST',
                 success: function (data) {
                     $("#total_loi").text(data.TotalLOI);
                     $("#total_blocked").text(data.TotalBlocked);
                     $("#total_booked").text(data.TotalBooked);
                     $("#total_kpi").text(data.TotalKPI);
                 },
                 error: function () {
                 }
             });
         }

         function LoadTotalBlocked() {
         }

         LoadTotalNCLSummary();
    </script>)