@using NS
@using PQT.Domain.Enum
@using Quartz.Util
@using Resources
@model PQT.Web.Models.CallingModel
@{
    ViewBag.Title = "Start Call";
}
<style>
    #grid_companies tbody tr {
        cursor: pointer;
    }

        #grid_companies tbody tr.Tier1 {
            color: #a94442;
            background-color: #ffdad7;
        }

            #grid_companies tbody tr.Tier1.selected {
                color: #a94442;
                background-color: #fcaca6;
            }

        #grid_companies tbody tr.Tier2 {
            color: #31708f;
            background-color: #d8edff !important;
        }

            #grid_companies tbody tr.Tier2.selected {
                color: #31708f;
                background-color: #add9ff !important;
            }

        #grid_companies tbody tr.Tier3.selected {
            color: #313534;
            background-color: #e5e6e6 !important;
        }
    #grid_bookings td,
    .DTFC_Cloned td{
        white-space: nowrap;
    }
</style>
<section>
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 12px;">
            @Html.Bootstrap().ActionLinkButton("Back to My Call List", "Index").RouteValues(new { id = Model.EventID }).PrependIcon("md md-arrow-back")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-underline">
                <div class="card-head">
                    <header><span class="text-primary"><i class="fa fa-fw fa-phone"></i> @ViewBag.Title</span> - <span style="font-size: 18px;"><b>@Model.Event.EventName (@Model.Event.EventCode)</b> - Event Dates: <b>@Model.Event.StartDate.ToString("dd/MM/yy")</b> - <b>@Model.Event.EndDate.ToString("dd/MM/yy")</b></span></header>
                </div><!--end .card-head -->
                <div class="card-body">
                    <div id="rootwizard2" class="form-wizard form-wizard-horizontal">
                        @using (Html.BeginForm("StartCallForm", "Lead", FormMethod.Post, new { @class = "form form-validation" }))
                        {
                            @Html.HiddenFor(m => m.TypeSubmit, new { @class = "typeSubmit" })
                            <div class="form-wizard-nav">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary"></div>
                                </div>
                                <ul class="nav nav-justified">
                                    <li class="active"><a href="#step1" data-toggle="tab"><span class="step">1</span> <span class="title">SELECT COMPANY RESOURCE</span></a></li>
                                    <li><a href="#step2" data-toggle="tab"><span class="step">2</span> <span class="title">START CALL</span></a></li>
                                </ul>
                            </div>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="step1" style="padding-top: 50px; padding-bottom: 50px">
                                    <div class="col-md-6">
                                        <div class="card card-underline form-group">
                                            <div class="card-head">
                                                <header>
                                                    <b>Companies List</b>
                                                </header>
                                            </div>
                                            <div class="card-body">
                                                <div class="row table-responsive">
                                                    <table class="table no-margin" id="grid_companies">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Country</th>
                                                                <th>Company</th>
                                                                <th>Product/Service</th>
                                                                <th>Sector</th>
                                                                <th>Industry</th>
                                                                <th>Business Unit</th>
                                                                <th>Ownership</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div><!--end .card-body -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card card-underline form-group">
                                            <div class="card-head">
                                                <header><b>Company Resources</b></header>
                                            </div><!--end .card-head -->
                                            <div class="form">
                                                <div class="card-body ">
                                                    @Html.Partial("_CompanyResourceList", 0)
                                                </div>
                                            </div>
                                        </div><!--end .card -->
                                        <div class="card card-underline form-group">
                                            <div class="card-head">
                                                <header><b>Past Bookings</b></header>
                                            </div><!--end .card-head -->
                                            <div class="form">
                                                <div class="card-body ">
                                                        <table class="table no-margin" id="grid_bookings">
                                                            <thead>
                                                                <tr>
                                                                    <th>Event Name</th>
                                                                    <th>Event Code</th>
                                                                    <th>Event Date</th>
                                                                    <th>Delegate Name</th>
                                                                    <th>Delegate Drirect Line</th>
                                                                    <th>Delegate Mobile1</th>
                                                                    <th>Delegate Mobile2</th>
                                                                    <th>Delegate Mobile3</th>
                                                                    <th>Delegate Work Email</th>
                                                                    <th>Delegate Personal Email</th>
                                                                    <th>Attendance Status</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                </div>
                                            </div>
                                        </div><!--end .card -->
                                    </div>
                                </div><!--end #step1 -->
                                <div class="tab-pane" id="step2" style="padding-top: 50px; padding-bottom: 50px">
                                    @Html.Partial("_CallingInfo", Model)
                                </div><!--end #step2 -->
                                <div class="tab-pane" id="step3" style="padding-top: 100px; padding-bottom: 100px">
                                    <br /><br />
                                    <div id="confirm_kpi"></div>
                                </div><!--end #step3 -->
                            </div><!--end .tab-content -->
                            <ul class="pager wizard">
                                <li class="previous"><a class="btn-raised" style="position: fixed;bottom: 50px;left: 105px;display: block;z-index: 1008;" href="javascript:void(0);"><i class="md md-arrow-back"></i> Back to Companies List</a></li>
                                <li class="next"><a class="btn-raised" style="position: fixed;bottom: 50px;right: 40px;display: block;z-index: 1006;" href="javascript:void(0);">Next Call Info <i class="md md-arrow-forward"></i></a></li>
                                <li class="finish ">
                                    <button type="submit" class="btn btn-primary pull-right" style="position: fixed;bottom: 50px;right: 185px;display: block;z-index: 1006;" id="requestnewevent"><i class="md md-phone-forwarded"></i> Request New Event</button>
                                    <button type="submit" class="btn btn-success pull-right" style="position: fixed;bottom: 50px;right: 40px;display: block;z-index: 1006;" id="endcall_save"><i class="md md-call-end"></i> Finish Call</button>
                                </li>
                            </ul>
                        }
                    </div><!--end .card-body -->
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
    </div>
</section>
<a class="btn ink-reaction btn-floating-action btn-primary" id="btncanvas-comResource" title="Company Resource"
   href="#offcanvas-comResource" data-toggle="offcanvas"
   style="position: fixed; top: 130px; right: 0; display: block; z-index: 1006;"><i class="md md-list"></i></a>

<div class="offcanvas">
    <div id="offcanvas-comResource" class="offcanvas-pane width-12" style="">
        <div class="offcanvas-head">
            <header>Company Resources</header>
            <div class="offcanvas-tools" style="left:initial">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body">
            @Html.Partial("_CompanyResourceList3", 0)
        </div>
    </div>
</div>
@Html.Script(
    @<script>
         function updateCanvas() {
             var windowW = $(window).width();
             var wCavas = (windowW / 2).toFixed(0);
             if (wCavas < 480) {
                 $('#offcanvas-comResource').css('width', '480px');
             } else {
                 $('#offcanvas-comResource').css('width', wCavas+ 'px');
             }
         }

         updateCanvas();
         window.onresize = function (event) {
             updateCanvas();
         };

            var company_id_selected = $("@Html.JquerySelectorFor(m=>m.CompanyID)");
            company_id_selected_val = company_id_selected.val();
         var company_name_selected = $("@Html.JquerySelectorFor(m=>m.CompanyName)");
         var company_business_selected = '@Model.EventCompany.BusinessUnit';
         var company_remark_selected = '@Model.EventCompany.Remarks';
         var company_budget_selected = '@Model.EventCompany.BudgetMonth';
         var company_dialingCode_selected = '@Model.DialingCode';
         var tableCompanies = $("#grid_companies").DataTable({
             "processing": true, // for show progress bar
             "serverSide": true, // for process server side
             "filter": true, // this is for disable filter (search box)
             "orderMulti": false, // for disable multiple column at once
             "stateSave": false,
             "ajax": {
                 "url": "@Url.Action("AjaxGetEventCompanies")?eventId=@Model.EventID",
                 "type": "POST",
                 "datatype": "json",
                 "data": function(d) {
                     d.CountryName = $('#grid_companies_filter').find('input[name="search_country"]').val();
                     d.CompanyName = $('#grid_companies_filter').find('input[name="search_name"]').val();
                     d.ProductService = $('#grid_companies_filter').find('input[name="search_service"]').val();
                     d.Sector = $('#grid_companies_filter').find('input[name="search_sector"]').val();
                     d.Industry = $('#grid_companies_filter').find('input[name="search_industry"]').val();
                     d.Tier = $('#grid_companies_filter').find('input[name="search_tier"]').val();
                     d.BusinessUnit = $('#grid_companies_filter').find('input[name="search_businessunit"]').val();
                     d.Ownership = $('#grid_companies_filter').find('input[name="search_ownership"]').val();
                 }
             },
             "columns": [
                 { "data": "ID", "name": "ID", "orderable": false },
                 { "data": "Country", "name": "Country", "orderable": true },
                 { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                 { "data": "ProductOrService", "name": "ProductOrService", "orderable": true },
                 { "data": "Sector", "name": "Sector", "orderable": true },
                 { "data": "Industry", "name": "Industry", "orderable": true },
                 { "data": "BusinessUnit", "name": "BusinessUnit", "orderable": true },
                 { "data": "Ownership", "name": "Ownership", "orderable": true }
             ],
             'columnDefs': [
                 {
                     'targets': 0,
                     'searchable': false,
                     'orderable': false,
                     'width': '1px',
                     'className': 'dt-body-center',
                     'render': function(data, type, full, meta) {
                         return '<input type="checkbox">';
                     }
                 }
             ],
             "aLengthMenu": [[25, 50, 100, 500, 1000, 2000], [25, 50, 100, 500, 1000, 2000]],
             "iDisplayLength": 25,
             "aaSorting": [[0, "asc"]],
             "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 var rowId = aData["ID"];
                 $(nRow).find('input[type="checkbox"]').val(rowId);
                 @*if ('@CurrentUser.HasPermission("Company", "Detail")' == 'True') {
                     $(nRow).find('td:eq(8)').html('<a target="_blank" href="@Url.Action("Detail","Company")?id=' +
                         aData["ID"] +
                         '" ><i class="fa fa-eye text-default" style="white-space:nowrap">  Detail</i></a>');
                 } else {
                     $(nRow).find('td:eq(8)').html('');
                 }*@
                 $(nRow).attr('data-id', rowId);
                 $(nRow).addClass('Tier' + aData["Tier"]);
                 if (company_id_selected_val == rowId) {
                     $(nRow).find('input[type="checkbox"]').prop('checked', true);
                     $(nRow).addClass('selected');
                 }
             },
             initComplete: function() {
                 var _table = this;
                 var filter_box = _table.parent().find("#grid_companies_filter");
                 var htmlFilter = '<label>Country:<input style="width: 120px" type="search" name="search_country" /></label>';
                 htmlFilter += '<label>Company:<input style="width: 120px" type="search" name="search_name" /></label>';
                 htmlFilter += '<label>Product/Service:<input style="width: 120px" type="search" name="search_service" /></label>';
                 htmlFilter += '<label>Sector:<input style="width: 120px" type="search" name="search_sector" /></label>';
                 htmlFilter += '<label>Tier:<input style="width: 120px" type="search" name="search_tier" /></label>';
                 htmlFilter += '<label>Industry:<input style="width: 120px" type="search" name="search_industry" /></label>';
                 htmlFilter += '<label>Business Unit:<input style="width: 120px" type="search" name="search_businessunit" /></label>';
                 htmlFilter += '<label>Ownership:<input style="width: 120px" type="search" name="search_ownership" /></label>';
                 filter_box.html(htmlFilter);

                 searchBindingKeyUp(_table.parent().find('input[type="search"]'), _table);
             },
         });

         function searchBindingKeyUp(elementSearch, tableElement) {
             elementSearch.unbind();
             var timeOutTyping;
             elementSearch.bind('keyup',
                 function(e) {
                     clearTimeout(timeOutTyping);
                     timeOutTyping = setTimeout(function() {
                             tableElement.fnFilter(elementSearch.eq(0).val());
                         },
                         600);
                 });
         }

         function handelClickOnCheckbox(e, $this, $table) {
             var $row = $($this).closest('tr');

             // Get row data
             var data = $table.row($row).data();

             var allRowSelected = $("#grid_companies tr.selected");
             allRowSelected.each(function(index, item) {
                 $(item).find('input[type="checkbox"]').trigger('click');
             });

             // Get row ID
             var rowId = data.ID;
             var rowCompanyName = data.CompanyName;
             var rowDialingCode = data.DialingCode;
             var rowBusiness = data.BusinessUnit;
             //var rowBudget = data.BudgetMonth;
             var rowBudget = data.FinancialYear;
             var rowRemark = data.Remarks;


             // If checkbox is checked and row ID is not in list of selected row IDs
             if ($this.checked) {
                 company_id_selected.val(rowId);
                 company_id_selected_val = rowId;
                 company_name_selected.val(rowCompanyName);
                 company_dialingCode_selected = rowDialingCode;
                 company_business_selected = rowBusiness;
                 company_remark_selected = rowRemark;
                 company_budget_selected = rowBudget;
                 LoadCompanyResources();
                 // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
             } else if (!$this.checked) {
                 company_id_selected.val(0);
                 company_id_selected_val = 0;
                 company_name_selected.val("");
                 company_dialingCode_selected = "";
                 company_business_selected = "";
                 company_remark_selected = "";
                 company_budget_selected = "";
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").removeAttr("readonly");
                 ClearDataSelected();
             }
             if ($this.checked) {
                 $row.addClass('selected');
             } else {
                 $row.removeClass('selected');
             }

             // Update state of "Select all" control
             // Prevent click event from propagating to parent
             e.stopPropagation();
         }

         // Handle click on checkbox
         $('#grid_companies tbody').on('click',
             'input[type="checkbox"]',
             function(e) {
                 handelClickOnCheckbox(e, this, tableCompanies);
             });

         // Handle click on table cells with checkboxes
         $('#grid_companies').on('click',
             'tbody td, thead th:first-child',
             function(e) {
                 $(this).parent().find('input[type="checkbox"]').trigger('click');
             });


         function LoadCompanyResources() {
             if (company_id_selected_val >= 0) {
                 fixedColumn = 0;
                 comResourceTable.fnFilter('');
                 comResourceTable2.fnFilter('');
                 table_bookings.fnFilter('');
             }
             @*if (company_id_selected.val() > 0) {
                 $.ajax({
                     url: '@Url.Action("CompanyResourceList")?companyID=' + company_id_selected.val(),
                     type: 'POST',
                     success: function(content) {
                         if (content) {
                             $(".companies_resources_content").html(content);
                         } else {
                             toastr.error("Get companies resource failed");
                         }
                     },
                     error: function() {
                         toastr.error("Get companies resource failed");
                     }
                 });
             } else {
                 $(".companies_resources_content").html("");
             }*@
         }
    </script>)


@Html.Script(
    @<script>
         $(document).on('click', '#endcall_save', function (e) {
             e.preventDefault();
            bootbox.confirm("Do you want to finish this call?", function (isOK) {
                if (isOK) {
                    $(".typeSubmit").val("finishcall");
                    $('#endcall_save').parents("form").submit();
                }
            });
         });
         $(document).on('click', '#requestnewevent', function (e) {
             e.preventDefault();
             bootbox.confirm("Do you want to request new event this data?", function (isOK) {
                 if (isOK) {
                     $(".typeSubmit").val("requestnewevent");
                     //$('#btnSaveDraft').parents("form").removeData('unobtrusiveValidation');
                     //$('#btnSaveDraft').parents("form").removeData('validator');
                     $('#requestnewevent').parents("form").submit();
                 }
             });
         });

         var wizard = $('#rootwizard2').bootstrapWizard({
             onTabShow: function (tab, navigation, index) {
                 handleTabShow(tab, navigation, index, $('#rootwizard2'));
                 if (index == 1) {
                     $(".next").addClass("hide");
                     $(".finish").removeClass("hide");
                     //LoadEventCompanyInfo();
                     $("#btncanvas-comResource").removeClass("hide");
                     addDialingCode();
                     StartTick();
                 } else {
                     $(".next").removeClass("hide");
                     $(".finish").addClass("hide");
                     $("#btncanvas-comResource").addClass("hide");
                     tickStarted = false;
                 }
                 window.scroll(0, 0);
             },
             onNext: function (tab, navigation, index) {
                 var form = $('#rootwizard2').find('.form-validation');
                 var valid = form.valid();
                 if (!valid) {
                     form.data('validator').focusInvalid();
                     return false;
                 }
             }
         });

         function handleTabShow(tab, navigation, index, wizard) {
             var total = navigation.find('li').length;
             var current = index + 0;
             var percent = (current / (total - 1)) * 100;
             var percentWidth = 100 - (100 / total) + '%';

             navigation.find('li').removeClass('done');
             navigation.find('li.active').prevAll().addClass('done');

             wizard.find('.progress-bar').css({ width: percent + '%' });
             $('.form-wizard-horizontal').find('.progress').css({ 'width': percentWidth });
         };

        function ClearDataSelected() {
            $("@Html.JquerySelectorFor(m => m.JobTitle)").val("");
            $("@Html.JquerySelectorFor(m => m.LineExtension)").val("");
            $("@Html.JquerySelectorFor(m => m.DirectLine)").val("");
            $("@Html.JquerySelectorFor(m => m.Salutation)").val("").trigger("change");
            $("@Html.JquerySelectorFor(m => m.FirstName)").val("");
            $("@Html.JquerySelectorFor(m => m.LastName)").val("");
            $("@Html.JquerySelectorFor(m => m.MobilePhone1)").val("");
            $("@Html.JquerySelectorFor(m => m.MobilePhone2)").val("");
            $("@Html.JquerySelectorFor(m => m.WorkEmail)").val("");
            $("@Html.JquerySelectorFor(m => m.PersonalEmail)").val("");
            $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(0).trigger("change");
            $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").val("");
            $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val("");
            $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").removeAttr("readonly");
            $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").removeAttr("readonly");

            //if ($("select.callingCompany").val() != "" && !tickStarted) {
            //    StartTick();
            //}
            var dialingCodes = $('.dialingCode');
            dialingCodes.each(function (index, item) {
                if ($(item).val() == "") {
                    $('.dialingCode').val("");
                }
            });
        }
         $(document).on('click', '#crtable tbody tr,#crtable2 tbody tr', function () {

             StartTick();
             wizard.bootstrapWizard('next');

             $("@Html.JquerySelectorFor(m => m.JobTitle)").val($(this).data("role"));
             $("@Html.JquerySelectorFor(m => m.DirectLine)").val($(this).data("directline"));
             $("@Html.JquerySelectorFor(m => m.Salutation)").val($(this).data("salutation").toUpperCase()).trigger("change");
             $("@Html.JquerySelectorFor(m => m.FirstName)").val($(this).data("firstname"));
             $("@Html.JquerySelectorFor(m => m.LastName)").val($(this).data("lastname"));
             $("@Html.JquerySelectorFor(m => m.MobilePhone1)").val($(this).data("mobilephone1"));
             $("@Html.JquerySelectorFor(m => m.MobilePhone2)").val($(this).data("mobilephone2"));
             $("@Html.JquerySelectorFor(m => m.MobilePhone3)").val($(this).data("mobilephone3"));
             $("@Html.JquerySelectorFor(m => m.WorkEmail)").val($(this).data("workemail"));
             $("@Html.JquerySelectorFor(m => m.PersonalEmail)").val($(this).data("personalemail"));
             @*$("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val($(this).data("budgetmonth")).trigger("change");
             if ($(this).data("budgetmonth") > 0) {
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").attr("readonly", "readonly");
             }
             $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").val($(this).data("businessunit"));
             if ($(this).data("businessunit") != undefined && $(this).data("businessunit") != "") {
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").attr("readonly", "readonly");
             }*@

             //if ($("select.callingCompany").val() != "" && !tickStarted) {
             //    StartTick();
             //}

         });

         addDialingCode();
         function addDialingCode() {
             @*if (company_business_selected != null && company_business_selected != "") {
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").val(company_business_selected);
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").attr("readonly", "readonly");
             }*@
             $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").val(company_business_selected);
             $("@Html.JquerySelectorFor(m => m.EventCompany.BusinessUnit)").attr("readonly", "readonly");
             @*if (company_budget_selected != null && company_budget_selected != "" && company_budget_selected > 0) {
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(company_budget_selected).trigger("change");
                 $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").attr("readonly", "readonly");
             }*@
             $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(company_budget_selected).trigger("change");
             $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").attr("readonly", "readonly");

             @*if (company_remark_selected != null && company_remark_selected != "") {
                 $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val(company_remark_selected);
             }*@
             $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val(company_remark_selected);
             $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").attr("readonly", "readonly");

             if (company_dialingCode_selected == "") return;
             var dialingCodes = $('.dialingCode');
             dialingCodes.each(function (index, item) {
                 if ($(item).val() == "") {
                     $('.dialingCode').val(company_dialingCode_selected);
                 }
             });
         }

         @*function LoadEventCompanyInfo() {
             if (company_id_selected_val > 0) {
                 $.ajax({
                     url: '@Url.Action("EventCompanyInfo")?eventId=@Model.EventID&companyID=' + company_id_selected_val,
                     type: 'POST',
                     success: function (data) {
                         SetEventCompanyInfo(data);
                     },
                     error: function () {
                         SetEventCompanyInfo(null);
                     }
                 });
             } else {
                 SetEventCompanyInfo(null);
             }
         }*@

        @*function SetEventCompanyInfo(data) {
            if (data) {
                $("@Html.JquerySelectorFor(m => m.EventCompany.ID)").val(data.ID);
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val(data.BudgetMonth).trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val(data.Remarks);
            } else {
                $("@Html.JquerySelectorFor(m => m.EventCompany.ID)").val(0);
                $("@Html.JquerySelectorFor(m => m.EventCompany.BudgetMonth)").val('').trigger("change");
                $("@Html.JquerySelectorFor(m => m.EventCompany.Remarks)").val('');
            }
         }*@


        if (company_id_selected_val > 0) {
            wizard.bootstrapWizard('next');
        }
    </script>
        )


@Html.Script(
    @<script>
        var fixedColumn = 0;
        var table_bookings = $("#grid_bookings");
        table_bookings.dataTable({
                 "processing": true, // for show progress bar
                 "serverSide": true, // for process server side
                 "filter": true, // this is for disable filter (search box)
                 "orderMulti": false, // for disable multiple column at once
                 "stateSave": false,
                 "ajax": {
                     "url": "@Url.Action("AjaxGetDelegates","Company")",
                     "type": "POST",
                     "datatype": "json",
                     "data": function(d) {
                         d.ComId = company_id_selected_val;
                     }
                 },
                 "columns": [
                     { "data": "EventName", "name": "EventName", "orderable": true },
                     { "data": "EventCode", "name": "EventCode", "orderable": true },
                     { "data": "EventDate", "name": "EventDate", "orderable": true },
                     { "data": "DelegateName", "name": "DelegateName", "orderable": true },
                     { "data": "DirectLine", "name": "DirectLine", "orderable": true },
                     { "data": "MobilePhone1", "name": "MobilePhone1", "orderable": true },
                     { "data": "MobilePhone2", "name": "MobilePhone2", "orderable": true },
                     { "data": "MobilePhone3", "name": "MobilePhone3", "orderable": true },
                     { "data": "WorkEmail", "name": "WorkEmail", "orderable": true },
                     { "data": "PersonalEmail", "name": "PersonalEmail", "orderable": true },
                     { "data": "AttendanceStatusDisplay", "name": "AttendanceStatusDisplay", "orderable": true },
                 ],
                 "iDisplayLength": 25,
                 "aaSorting": [[0, "asc"]],
                 "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                 },
                 initComplete: function() {
                     var _table = this;
                     _table.parent().find('input[type="search"]').unbind();
                     var timeOutTyping;
                     _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                         clearTimeout(timeOutTyping);
                         timeOutTyping = setTimeout(function () {
                             _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                         }, 600);
                     });
                 },
                 scrollY: false,
                 scrollX: true,
                 "bScrollCollapse": false,
                 "drawCallback": function (settings, json) {
                     FixedTable();
                 },
        });
        
        function FixedTable() {
            if (fixedColumn < 3) {
                fixedColumn ++;
                var fixColumn = new $.fn.dataTable.FixedColumns(table_bookings, {
                    leftColumns: 1,
                    sHeightMatch: "auto",
                    rightColumns: 1
                });
                var $leftWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_LeftWrapper");
                if ($leftWrappers.length > 1) {
                    $leftWrappers[1].parentNode.removeChild($leftWrappers[1]);
                }
                var $rightWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_RightWrapper");
                if ($rightWrappers.length > 1) {
                    $rightWrappers[1].parentNode.removeChild($rightWrappers[1]);
                }
            }
        }
        $(document).on("click", ".paginate_button", function () {
            fixedColumn = 0;
        });
        $(document).on("change", "select[name=table_length]", function () {
            fixedColumn = 0;
        });
    </script>)