@using PQT.Domain.Enum
@using NS
@using Resources
@model PQT.Domain.Entities.Counter

<div class="card card-underline" style="background: white; margin: auto; max-width: 700px; position: relative;">
    <div class="card-head">
        <header>@(Model.ID > 0 ? "Edit Data" : "Add New Data")</header>
    </div><!--end .card-head -->
    <div class="card-body">
        <div class="success hide">
            @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
            {
                @Html.Bootstrap().Label("success").HtmlAttributes(new { @class = "textsuccess" }).LabelText(Resource.SaveSuccessful)
            }
        </div>
        <div class="error hide alert-danger">
            @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Error).Closeable()))
            {
                @Html.Bootstrap().Label("error").HtmlAttributes(new { @class = "texterror" }).LabelText(Resource.SaveFailed)
            }
        </div>
        @using (Ajax.BeginForm("CreateOrEdit", "routeValues", new AjaxOptions { OnFailure = "onFail", OnSuccess = "onSuccess" }, new { @id = "CreateOrEditForm", @class = "form form-validate floating-label", @novalidate = "novalidate" }))
        {
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.Name).Class("form-control").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.Name).LabelText("Name").ShowRequiredStar(true)
            </div>

            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.Value).Class("form-control").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.Value).LabelText("Running number").ShowRequiredStar(true)
            </div>
            <div class="form-group">
                <div class="pull-right">
                    @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                    @Html.Bootstrap().SubmitButton().Text(Resource.Save).Id("submitbutton").PrependIcon("md md-done").Style(ButtonStyle.Success)
                </div>
            </div>
        }
    </div>
</div>