@using Resources
@model PQT.Web.Models.RoleModel

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
    {
        <text>@ViewBag.Message</text>
    }
}
@{
    ViewBag.Title = "Edit Department";
}
<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Roles", null, FormMethod.Post, new { @class = "form" }))
            {
                @Html.Partial("_RoleEditor", Model)
                <div class="form-group col-md-offset-2">
                    @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                    @Html.Bootstrap().SubmitButton().Id("submitbutton").Text(Resource.Save).PrependIcon("md md-done").Style(ButtonStyle.Success)
                </div>
            }
        </div>
    </div>
</section>

@Html.Script(
    @<script>
        $("#submitbutton").on('click', function (e) {
            e.preventDefault();
            bootbox.confirm("@Resource.ConfirmSave", function (isOK) {
                if (isOK) {
                    $('#submitbutton').parents("form").submit();
                }
            });
        });
    </script>)
