@using PQT.Domain.Abstract
@using PQT.Web.Infrastructure
@model PQT.Domain.Entities.EventSession
@{
    var repo = DependencyHelper.GetService<ITrainerService>();
    var trainers = repo.GetAllTrainers();

}

@using (Html.BeginCollectionItem())
{
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group ">
                @Html.Bootstrap().TextBoxFor(m => m.SessionTitle).Class("form-control").HtmlAttributes(new { required = "required" }).ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.SessionTitle).ShowRequiredStar(true)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <select class="form-control" id="@Html.IdFor(m=>m.TrainerID)" name="@Html.NameFor(m => m.TrainerID)" required="required">
                    <option value=""></option>
                    @foreach (var trainer in trainers)
                    {
                        <option value="@trainer.ID" selected="@(Model.TrainerID == trainer.ID)">@trainer.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(m => m.TrainerID)
                <label>Trainer</label>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="input-daterange input-group" >
                    <div class="input-group-content">
                        @Html.DatePickerRangeFor(m => m.StartDate, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.StartDate)
                        @Html.Bootstrap().LabelFor(m => m.StartDate).ShowRequiredStar(true)
                    </div>
                    <span class="input-group-addon">to</span>
                    <div class="input-group-content">
                        @Html.DatePickerRangeFor(m => m.EndDate, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.EndDate)
                        @Html.Bootstrap().LabelFor(m => m.EndDate).ShowRequiredStar(true)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="btn-group pull-right">
                <a onclick="return sub.remove(this);" data-action="remove" class="btn btn-danger btn-flat"><i class="md md-delete"></i> Remove</a>
            </div>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.TrainerInvoice)
            @Html.HiddenFor(m => m.TrainerTicket)
            @Html.HiddenFor(m => m.TrainerVisa)
            @Html.HiddenFor(m => m.TrainerInsurance)
            @Html.HiddenFor(m => m.OperationTicket)
            @Html.HiddenFor(m => m.OperationVisa)
            @Html.HiddenFor(m => m.OperationInsurance)
            @Html.HiddenFor(m => m.TrainerInvoiceRemark)
            @Html.HiddenFor(m => m.TrainerTicketRemark)
            @Html.HiddenFor(m => m.TrainerVisaRemark)
            @Html.HiddenFor(m => m.TrainerInsuranceRemark)
            @Html.HiddenFor(m => m.OperationTicketRemark)
            @Html.HiddenFor(m => m.OperationVisaRemark)
            @Html.HiddenFor(m => m.OperationInsuranceRemark)
            @Html.HiddenFor(m => m.TrainerID)
            @Html.HiddenFor(m => m.EventID)
        </div>
    </div>
}
