@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.SalesGroupModel
<div class="card card-underline" style="background: white; margin: auto; max-width: 700px; position: relative;">
    <div class="card-head">
        <header>@(Model.ID > 0 ? "Edit Data" : "Add New Data")</header>
    </div><!--end .card-head -->

    @using (Ajax.BeginForm("CreateOrEdit", "routeValues", new AjaxOptions { OnFailure = "onFail", OnSuccess = "onSuccess" }, new { @id = "CreateOrEditForm", @class = "form" }))
    {
        <div class="card-body">
            <div class="success hide">
                @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Success).Closeable()))
                {
                    @Html.Bootstrap().Label("success").HtmlAttributes(new { @class = "textsuccess" }).LabelText(Resource.SaveSuccessful)
                }
            </div>
            <div class="error hide alert-danger">
                @using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Error).Closeable()))
                {
                    @Html.Bootstrap().Label("error").HtmlAttributes(new { @class = "texterror" }).LabelText(Resource.SaveFailed)
                }
            </div>
            @Html.HiddenFor(m => m.ID)
            <div class="form-group">
                @Html.Bootstrap().TextBoxFor(m => m.GroupName).HtmlAttributes(new { required = "required" }).Class("form-control code").ShowValidationMessage(true)
                @Html.Bootstrap().LabelFor(m => m.GroupName).LabelText("Group Name").ShowRequiredStar(true)
            </div>
            <div class="form-group">
                <select multiple class="form-control" name="@Html.NameFor(m=>m.UsersSelected)" required="required">
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.ID" selected="@(Model.UsersSelected.Contains(user.ID))">@user.DisplayName</option>
                    }
                </select>
                <label>Salesman</label>
            </div>
        </div><!--end .card-body -->

        <div class="card-actionbar">
            <div class="card-actionbar-row">
                @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                @Html.Bootstrap().SubmitButton().Text(Resource.Save).Id("submitbutton").PrependIcon("md md-done").Style(ButtonStyle.Success)
            </div>
        </div>
    }
</div><!--end .card -->