@using PQT.Domain.Entities
@using PQT.Domain.Enum
@using Resources
@model IEnumerable<Candidate>

@{
    ViewBag.Title = "Candidate List";
}
<style>
    .table > tbody > tr > td {
        vertical-align: middle;
    }
    #recruitmentTable td, #recruitmentTable td {
        white-space: nowrap;
    }

    .table td,
    .table th {
        white-space: nowrap !important;
    }

    #recruitmentTable td, table th {
        text-align: left;
        color: #000;
    }


    .DTFC_Cloned {
        background: #fff;
    }

        .DTFC_Cloned td {
            background-color: #fff;
        }

        .DTFC_Cloned th {
            background-color: #f5f5f5 !important;
        }

        #recruitmentTable tbody tr.Initial td,
        .DTFC_Cloned tbody tr.Initial td {
            color: #333;
            background-color: #fff !important;
        }


        #recruitmentTable tbody tr.Rejected td,
        .DTFC_Cloned tbody tr.Rejected td {
            color: #333;
            background-color: #ffa7a7 !important;
        }

        #recruitmentTable tbody tr.Passed td,
        .DTFC_Cloned tbody tr.Passed td {
            color: #333;
            background-color: #abffc5 !important;
        }

    .table a {
        text-decoration: underline;
    }

</style>
<style>
    .delegateItem {
        padding: 20px;
        border: 1px solid #e2e2e2;
    }

    .color_status {
        cursor: default;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #c3c3c3;
        border-radius: 50%;
        margin-top: 7px;
    }
</style>
<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @if (CurrentUser.HasPermission("Recruitment", "Create"))
            {
                @Html.Bootstrap().ActionLinkButton("Create Candidate", "Create").PrependIcon("md md-add").HtmlAttributes(new { @class = "btn btn-primary" })
            }
        </div>
    </div>
    <div class="card" style="margin-bottom: 350px">
        <div class="card-body">
            <table class="table" id="recruitmentTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Number</th>
                        <th>Personal Email</th>
                        <th>Application Source</th>
                        <th>Office Location</th>
                        <th>Date of PS Summary</th>
                        <th>PS Status</th>
                        <th>PS Reason</th>
                        <th>Date of 1F2F Summary</th>
                        <th>1F2F Status</th>
                        <th>1F2F Reason</th>
                        <th>Date of 2F2F Summary</th>
                        <th>2F2F Status</th>
                        <th>2F2F Reason</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div class="row">
                <table>
                    <tr>
                        <td colspan="14"><b>PS Summary Status</b></td>
                    </tr>
                    <tr>
                        <td><span class="color_status" style="background: #fff;">&nbsp;</span></td>
                        <td>&nbsp;Initial</td>
                        <td style="width: 20px"></td>
                        <td><span class="color_status" style="background: #ffa7a7;">&nbsp;</span></td>
                        <td>&nbsp;Rejected</td>
                        <td style="width: 20px"></td>
                        <td><span class="color_status" style="background: #abffc5;">&nbsp;</span></td>
                        <td>&nbsp;Passed</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


@Html.Script(
    @<script>

        var fixedColumn = 0;
        var $Table = $('#recruitmentTable').dataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "stateSave": false,
            "ajax": {
                "url": "@Url.Action("AjaxGetAllCandidates")",
                "type": "POST",
                "datatype": "json",
                "data": function(d) {
                }
            },
            "columns": [
                { "data": "CandidateNo", "name": "ID", "orderable": true },
                { "data": "FirstName", "name": "FirstName", "orderable": true },
                { "data": "LastName", "name": "LastName", "orderable": true },
                { "data": "MobileNumber", "name": "MobileNumber", "orderable": true },
                { "data": "PersonalEmail", "name": "PersonalEmail", "orderable": false },
                { "data": "ApplicationSource", "name": "ApplicationSource", "orderable": true },
                { "data": "OfficeLocationDisplay", "name": "OfficeLocationDisplay", "orderable": true },
                { "data": "PsSummaryDateDisplay", "name": "PsSummaryDateDisplay", "orderable": true },
                { "data": "PsSummaryStatusDisplay", "name": "PsSummaryStatusDisplay", "orderable": true },
                { "data": "PsSummaryStatusReason", "name": "PsSummaryStatusReason", "orderable": true },
                { "data": "OneFaceToFaceSummaryDateDisplay", "name": "OneFaceToFaceSummaryDateDisplay", "orderable": true },
                { "data": "OneFaceToFaceSummaryStatusDisplay", "name": "OneFaceToFaceSummaryStatusDisplay", "orderable": true },
                { "data": "OneFaceToFaceSummaryStatusReason", "name": "OneFaceToFaceSummaryStatusReason", "orderable": true },
                { "data": "TwoFaceToFaceSummaryDateDisplay", "name": "TwoFaceToFaceSummaryDateDisplay", "orderable": true },
                { "data": "TwoFaceToFaceSummaryStatusDisplay", "name": "TwoFaceToFaceSummaryStatusDisplay", "orderable": true },
                { "data": "TwoFaceToFaceSummaryStatusReason", "name": "TwoFaceToFaceSummaryStatusReason", "orderable": true },
                { "data": "StatusDisplay", "name": "StatusDisplay", "orderable": true },
                { "data": "ID", "name": "ID", "orderable": true },
            ],
            "aLengthMenu": [[25, 50, 100, 500, 1000, 2000], [25, 50, 100, 500, 1000, 2000]],
            "iDisplayLength": 50,
            "aaSorting": [[0, "desc"]],
            "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var eq15Html = '<a href="@Url.Action("Detail")?id=' +
                    aData["ID"] +
                    '&backAction=@(ViewContext.Controller.ValueProvider.GetValue("action").RawValue)" title="View Detail"><i class="fa fa-eye"></i></a>';
                if ('@CurrentUser.HasPermission("Recruitment", "Edit")' == 'True') {
                    eq15Html += ' | <a href="@Url.Action("Edit")?id=' + aData["ID"] + '&backAction=@(ViewContext.Controller.ValueProvider.GetValue("action").RawValue)" style="white-space: nowrap;" title="Edit"><i class="fa fa-pencil-square-o text-info"></i></a>';
                }
                $(nRow).find('td:eq(17)').html(eq15Html);
                $(nRow).addClass(aData["PsSummaryStatusDisplay"]);
                $(nRow).attr("data-id", ["ID"]);
            },
            initComplete: function () {
                var _table = this;
                _table.parent().find('input[type="search"]').unbind();
                var timeOutTyping;
                _table.parent().find('input[type="search"]').bind('keyup', function (e) {
                    clearTimeout(timeOutTyping);
                    timeOutTyping = setTimeout(function () {
                        fixedColumn = 0;
                        _table.fnFilter(_table.parent().find('input[type="search"]').eq(0).val());
                    }, 600);
                });
            },
            scrollY: false,
            scrollX: true,
            "bScrollCollapse": false,
            "drawCallback": function (settings, json) {
                FixedTable();
            },
        });

        function FixedTable() {
            if (fixedColumn < 3) {
                fixedColumn ++;
                var fixColumn = new $.fn.dataTable.FixedColumns($Table, {
                    leftColumns: 4,
                    sHeightMatch: "auto",
                    rightColumns: 1
                });
                var $leftWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_LeftWrapper");
                if ($leftWrappers.length > 1) {
                    $leftWrappers[1].parentNode.removeChild($leftWrappers[1]);
                }
                var $rightWrappers = $(".DTFC_ScrollWrapper").find(".DTFC_RightWrapper");
                if ($rightWrappers.length > 1) {
                    $rightWrappers[1].parentNode.removeChild($rightWrappers[1]);
                }
            }
        }
        $(document).on("click", ".paginate_button", function () {
            fixedColumn = 0;
        });
        $(document).on("change", "select[name=table_length]", function () {
            fixedColumn = 0;
        });
        //StartConnectProgressHub();
    </script>)