@using System.Web.Script.Serialization
@using ColorCode.Compilation.Languages
@using NS.Mvc
@using PQT.Domain.Abstract
@model PQT.Domain.Entities.UploadTemplate
@{
    var templateService = DependencyHelper.GetService<IUploadTemplateService>();
    var roleService = DependencyHelper.GetService<IRoleService>();
    var templates = templateService.GetAllUploadTemplates().DistinctBy(m => m.GroupNameCode);
    var serializer = new JavaScriptSerializer();
    string lstGroups = serializer.Serialize(templates.Select(m => m.GroupName));

    var departments = roleService.GetAllRoles();
}
<style>
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
    }
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9; 
    }
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important; 
        color: #ffffff; 
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <select multiple class="form-control" name="@Html.NameFor(m=>m.Departments)" required = "required">
                        @foreach (var com in departments.OrderBy(m => m.Name))
                        {
                            <option value="@com.Name" selected="@(Model.Departments.Contains(com.Name))">@com.Name</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(m=>m.Departments)
                    @Html.Bootstrap().LabelFor(m => m.Departments).ShowRequiredStar(true)
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group autocomplete">
                    @Html.Bootstrap().TextBoxFor(m => m.GroupName).Class("form-control text-capitalize").Id("groupName").HtmlAttributes(new { required = "required", autocomplete = "off" }).ShowValidationMessage(true)
                    @Html.Bootstrap().LabelFor(m => m.GroupName).LabelText("Upload Name").ShowRequiredStar(true)
                </div>
            </div>
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.FileName)
                <div class="form-group ">
                    @if (!string.IsNullOrEmpty(Model.FileName))
                    {
                        <a href="@FileUpload.GetImageUrl(FileUploadType.Template, Model.FileName)" target="_blank">@Model.FileName</a>
                        @Html.Bootstrap().FileFor(m => m.UploadFile).Class("form-control").ShowValidationMessage(true)
                    }
                    else
                    {
                        @Html.Bootstrap().FileFor(m => m.UploadFile).Class("form-control").HtmlAttributes(new { required = "required" }).ShowValidationMessage(true)
                    }
                    @Html.Bootstrap().LabelFor(m => m.UploadFile)
                </div>
            </div>
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.FileName)
                <div class="form-group">
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" class="cbx-sign" id="@Html.IdFor(m => m.ReadOnly)" name="@Html.NameFor(m => m.ReadOnly)" value="@(Model.ReadOnly?"true":"false")" @(Model.ReadOnly ? "checked" : "")>
                            <span>Non Downloadable Template (Only for PDF)</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Script(
    @<script>
        var lstGroups = @Html.Raw(lstGroups);
        autocomplete(document.getElementById("groupName"), lstGroups);
        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    </script>)