@using PQT.Domain.Entities
@using PQT.Domain.Enum
@using PQT.Web.Models
@using Resources
@model PQT.Web.Models.CreateUserModel
@{
    ViewBag.Title = Resource.CreateUser;
}

<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.DisplayName).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.DisplayName).LabelText("Display Name").ShowRequiredStar(true)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Email).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Email).LabelText("Email").ShowRequiredStar(true)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().PasswordFor(m => m.Password).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Password).LabelText("Password").ShowRequiredStar(true)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().PasswordFor(m => m.ConfirmPassword).HtmlAttributes(new { required = "required" }).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.ConfirmPassword).LabelText("Retype password").ShowRequiredStar(true)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.BusinessPhone).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.BusinessPhone).LabelText("Business Phone")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.MobilePhone).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.MobilePhone).LabelText("Mobile Phone")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().DropDownListFor(m => m.BusinessDevelopmentUnit, EnumerationHelper.ToSelectList<BusinessDevelopmentUnit>()).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.BusinessDevelopmentUnit)
                        </div>
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.BasicSalary).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.BasicSalary).LabelText("Basic Salary")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().DropDownListFor(m => m.SalesManagementUnit, EnumerationHelper.ToSelectList<SalesManagementUnit>()).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.SalesManagementUnit)
                        </div>
                        <div class="form-group">
                            @Html.Bootstrap().DropDownListFor(m => m.SalesSupervision, EnumerationHelper.ToSelectList<SalesSupervision>()).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.SalesSupervision).LabelText("Sales Supervision & Planning Unit")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.DatePickerFor(m => m.DateOfStarting, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DateOfStarting)
                            @Html.Bootstrap().LabelFor(m => m.DateOfStarting).LabelText("Date Of Starting")
                        </div>
                        <div class="form-group">
                            @Html.DatePickerFor(m => m.DateOfContract, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DateOfContract)
                            @Html.Bootstrap().LabelFor(m => m.DateOfContract).LabelText("Date Of Contract")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Extension).Class("form-control").ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Extension).LabelText("Extension")
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Roles</label>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <div class="col-sm-3">
                                            <div class="checkbox checkbox-styled">
                                                <label>
                                                    <input type="checkbox" name="SelectedRoles" value="@role.ID" @(Model.UserRoles.Contains(role.ID) ? "checked" : "")>
                                                    <span>@role.Name</span>
                                                </label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-md-offset-3">
                        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                        @Html.Bootstrap().SubmitButton().Id("submitbutton").Text(Resource.Save).PrependIcon("md md-done").Style(ButtonStyle.Success)
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@Html.Script(
    @<text>
        <script>

            $("#submitbutton").on('click', function (e) {
                e.preventDefault();
                bootbox.confirm("@Resource.ConfirmCreate", function (isOK) {
                    if (isOK) {
                        $('#submitbutton').parents("form").submit();
                    }
                });
            });

        </script>
    </text>)
