@using System.Globalization
@using NS.Mvc
@using PQT.Domain.Abstract
@using PQT.Domain.Entities
@using PQT.Domain.Enum
@using PQT.Web.Models
@using Resources
@model PQT.Web.Models.EditUserModel
@{
    ViewBag.Title = Resource.CreateUser;
}

<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
            @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
                @Html.Partial("_CreateOrEdit", Model)
                <div class="row">
                    <div class="form-group  col-md-offset-3">
                        @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                        @Html.Bootstrap().SubmitButton().Id("submitbutton").Text(Resource.Save).PrependIcon("md md-done").Style(ButtonStyle.Success)
                    </div>
                </div>
            }
</section>
@Html.Script(
    @<text>
        <script>

            $("#submitbutton").on('click', function (e) {
                e.preventDefault();
                bootbox.confirm("@Resource.ConfirmCreate", function (isOK) {
                    if (isOK) {
                        $('#submitbutton').parents("form").submit();
                    }
                });
            });

        </script>
    </text>)
