@using Resources
@model PQT.Web.Models.EventModel

@{
    ViewBag.Title = "Add Event";
}
<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    @using (Html.BeginForm("Create", "Event", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
    {
        @*<div class="row">
            <div class="form-group  col-md-offset-2">
                @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                @Html.Bootstrap().SubmitButton().Class("submitbutton").Text(Resource.Save).PrependIcon("md md-done").Style(ButtonStyle.Success)
            </div>
        </div>*@
        @Html.Partial("_CreateOrEdit", Model)
        <div class="row">
            <div class="form-group  col-md-offset-2">
                @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
                @Html.Bootstrap().SubmitButton().Class("submitbutton").Text(Resource.Save).PrependIcon("md md-done").Style(ButtonStyle.Success)
            </div>
        </div>
    }
</section>



@Html.Script(
    @<script>
        $(".submitbutton").on('click', function (e) {
            e.preventDefault();
            bootbox.confirm('@Resource.ConfirmCreate', function (isOK) {
                if (isOK) {
                    var form = $('#submitbutton').parents("form");
                    // Iterate over all selected checkboxes
                    $.each(companies_selected, function (index, rowId) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', 'CompaniesSelected')
                                .val(rowId)
                        );
                    });
                    form.submit();
                }
            });
        });
    </script>
)