@using Resources
@model PQT.Web.Models.EventModel

@{
    ViewBag.Title = "Event Detail";
}

<style>
    #grid_companies tbody tr {
        cursor: pointer;
    }

        #grid_companies tbody tr.Tier1 {
            color: #a94442;
            background-color: #ffdad7;
        }

            #grid_companies tbody tr.Tier1.selected {
                color: #a94442;
                background-color: #fcaca6;
            }

        #grid_companies tbody tr.Tier2 {
            color: #31708f;
            background-color: #d8edff !important;
        }

            #grid_companies tbody tr.Tier2.selected {
                color: #31708f;
                background-color: #add9ff !important;
            }

        #grid_companies tbody tr.Tier0.selected {
            color: #313534;
            background-color: #e5e6e6 !important;
        }
</style>
<section>

    <div class="row section-header" style="height: auto">
        <h2 class="text-primary col-sm-3">@ViewBag.Title</h2>
    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-right: 24px; padding-bottom: 12px">
            @Html.Bootstrap().ActionLinkButton(Resource.ButtonBackToList, "Index").PrependIcon("md md-arrow-back")
            @if (CurrentUser.HasPermission("Event", "Edit"))
            {
                @Html.Bootstrap().ActionLinkButton("Edit", "Edit").RouteValues(new { id = Model.Event.ID }).Class("btn-primary").PrependIcon("md md-edit")
            }
        </div>
    </div>
    @if (PermissionHelper.SalesmanId() > 0)
    {
        <div class="card">
            <div class="card-body form">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventCode).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventCode)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventStatusDisplay).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventStatus)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventStatusDisplay).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventStatus)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.BackgroundColor).HtmlAttributes(new { @style = "color:#fff;background:" + Model.Event.BackgroundColor }).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.BackgroundColor).LabelText("Event Color")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventName).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventName)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.StartDate)">
                                @Model.Event.StartDate.ToString("dd MMM yyyy")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.StartDate).LabelText("Event First Day")
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.EndDate)">
                                @Model.Event.EndDate.ToString("dd MMM yyyy")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.EndDate).LabelText("Event Last Day")
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.DateOfConfirmation)">
                                @(Model.Event.DateOfConfirmation != null ? Convert.ToDateTime(Model.Event.DateOfConfirmation).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.DateOfConfirmation)
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.ClosingDate)">
                                @(Model.Event.ClosingDate != null ? Convert.ToDateTime(Model.Event.ClosingDate).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.ClosingDate).LabelText("Date of Closing Sales")
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.DateOfOpen)">
                                @(Model.Event.DateOfOpen != null ? Convert.ToDateTime(Model.Event.DateOfOpen).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.DateOfOpen).LabelText("Date Of Open (Cross Sell)")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.HotelVenue).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.HotelVenue)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.HotelAccomodation).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.HotelAccomodation)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextAreaFor(m => m.Event.Location).Rows(5).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.Location)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextAreaFor(m => m.Event.Summary).Rows(5).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.Summary).LabelText("Event Summary")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventCode).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventCode)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventStatusDisplay).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventStatus)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.BackgroundColor).HtmlAttributes(new { @style = "color:#fff;background:" + Model.Event.BackgroundColor }).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.BackgroundColor).LabelText("Event Color")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.EventName).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.EventName)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.StartDate)">
                                @Model.Event.StartDate.ToString("dd MMM yyyy")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.StartDate).LabelText("Event First Day")
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.EndDate)">
                                @Model.Event.EndDate.ToString("dd MMM yyyy")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.EndDate).LabelText("Event Last Day")
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.DateOfConfirmation)">
                                @(Model.Event.DateOfConfirmation != null ? Convert.ToDateTime(Model.Event.DateOfConfirmation).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.DateOfConfirmation)
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.ClosingDate)">
                                @(Model.Event.ClosingDate != null ? Convert.ToDateTime(Model.Event.ClosingDate).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.ClosingDate).LabelText("Date of Closing Sales")
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="form-control" readonly name="@Html.FieldNameFor(m=>m.Event.DateOfOpen)">
                                @(Model.Event.DateOfOpen != null ? Convert.ToDateTime(Model.Event.DateOfOpen).ToString("dd MMM yyyy") : "")
                            </div>
                            @Html.Bootstrap().LabelFor(m => m.Event.DateOfOpen).LabelText("Date Of Open (Cross Sell)")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.FinanceEmail).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.FinanceEmail).LabelText("Finance")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.OperationEmail).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.OperationEmail).LabelText("Operation")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.ProductionEmail).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.ProductionEmail).LabelText("Production")
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.SalesEmail).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.SalesEmail).LabelText("Sales")
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.PrimaryJobtitleKeywords).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.PrimaryJobtitleKeywords)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.SecondaryJobtitleKeywords).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.SecondaryJobtitleKeywords)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.HotelVenue).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.HotelVenue)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.Bootstrap().TextBoxFor(m => m.Event.HotelAccomodation).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.HotelAccomodation)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextAreaFor(m => m.Event.Location).Rows(5).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.Location)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.Bootstrap().TextAreaFor(m => m.Event.Summary).Rows(5).Class("form-control").Disabled().ShowValidationMessage(true)
                            @Html.Bootstrap().LabelFor(m => m.Event.Summary).LabelText("Event Summary")
                        </div>
                    </div>
                    <div class=" col-sm-4">
                        <div class="form-group">
                            @if (!string.IsNullOrEmpty(Model.Event.SalesBrochure))
                        {
                        @Html.Bootstrap().Link(Model.Event.SalesBrochure, FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.SalesBrochure)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                        }
                            @Html.Bootstrap().LabelFor(m => m.Event.SalesBrochure).LabelText("Sales Brochure")
                        </div>
                    </div>
                    <div class=" col-sm-4">
                        <div class="form-group">
                            @if (!string.IsNullOrEmpty(Model.Event.OperationBrochure))
                        {
                        @Html.Bootstrap().Link(Model.Event.OperationBrochure, FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.OperationBrochure)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                        }
                            @Html.Bootstrap().LabelFor(m => m.Event.OperationBrochure)
                        </div>
                    </div>
                    <div class=" col-sm-4">
                        <div class="form-group">
                            @if (!string.IsNullOrEmpty(Model.Event.RegContract))
                        {
                        @Html.Bootstrap().Link(Model.Event.RegContract, FileUpload.GetImageUrl(FileUploadType.Event, Model.Event.RegContract)).Class("form-control").HtmlAttributes(new { target = "_blank" })
                        }
                            @Html.Bootstrap().LabelFor(m => m.Event.RegContract)
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card card-underline">
            <div class="card-head">
                <header>Sales Group</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Salesman</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var phonecall in Model.Event.SalesGroups)
                        {
                        <tr>
                            <td>@phonecall.GroupName</td>
                            <td>@string.Join("; ", phonecall.Users.Select(m => m.DisplayName))</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div>
        <div class="card card-underline">
            <div class="card-head">
                <header>Account Manager</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Salesman</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var phonecall in Model.Event.ManagerUsers)
                        {
                        <tr>
                            <td>@phonecall.DisplayName</td>
                            <td>@phonecall.Email</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div>
        <div class="card card-underline">
            <div class="card-head">
                <header>Event Sessions</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Session Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Trainer Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.Event.EventSessions)
                                {
                        <tr>
                            <td>
                                @item.SessionTitle
                            </td>
                            <td>
                                @item.StartDate.ToString("dd MMM yyyy")
                            </td>
                            <td>
                                @item.EndDate.ToString("dd MMM yyyy")
                            </td>
                            <td>
                                @item.TrainerName
                            </td>
                        </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div>

        <div class="card card-underline">
            <div class="card-head">
                <header>Companies</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table no-margin" id="grid_companies">
                        <thead>
                            <tr>
                                <th class="hide"></th>
                                <th>Country</th>
                                <th>Company</th>
                                <th>Product/Service</th>
                                <th>Sector</th>
                                <th>Industry</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div>


        <div class="section-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-primary">Sales Rules</h2>
                </div><!--end .col -->
            </div><!--end .row -->
            <div class="card">
                <div class="card-body">
                    @Html.Raw(Model.Event.SalesRules)
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div>
                                }

</section>

@Html.Script(
    @<script>
        var table = $("#grid_companies").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "stateSave": false,
                "ajax": {
                    "url": "@Url.Action("AjaxGetEventCompanies")?eventId=@Model.Event.ID",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.CountryName = $('input[name="search_country"]').val();
                        d.CompanyName = $('input[name="search_name"]').val();
                        d.ProductService = $('input[name="search_service"]').val();
                        d.Sector = $('input[name="search_sector"]').val();
                        d.Tier = $('input[name="search_tier"]').val();
                        d.Industry = $('input[name="search_industry"]').val();
                    }
                },
                "columns": [
                    { "data": "ID", "name": "ID", "orderable": true },
                    { "data": "Country", "name": "Country", "orderable": true },
                    { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                    { "data": "ProductOrService", "name": "ProductOrService", "orderable": true },
                    { "data": "Sector", "name": "Sector", "orderable": true },
                    { "data": "Industry", "name": "Industry", "orderable": true },
                ],
                "aLengthMenu": [[25, 50, 100, 500, 1000, 2000], [25, 50, 100, 500, 1000, 2000]],
                "iDisplayLength": 25,
                "aaSorting": [[0, "asc"]],
                "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).addClass('Tier' + aData["Tier"]);
                    $(nRow).find('td:eq(0)').addClass("hide");
                },
                initComplete: function() {
                    var _table = this;
                    var filter_box = _table.parent().find("#grid_companies_filter");
                    var htmlFilter = '<label>Country:<input type="search" name="search_country" /></label>';
                    htmlFilter +='<label>Company:<input type="search" name="search_name" /></label>';
                    htmlFilter +='<label>Product/Service:<input type="search" name="search_service" /></label>';
                    htmlFilter +='<label>Sector:<input type="search" name="search_sector" /></label>';
                    htmlFilter +='<label>Industry:<input type="search" name="search_industry" /></label>';
                    htmlFilter +='<label>Tier:<input type="search" name="search_tier" /></label>';
                    filter_box.html(htmlFilter);

                    searchBindingKeyUp(_table.parent().find('input[type="search"]'), _table);
                },
            });
            function searchBindingKeyUp(elementSearch,tableElement) {
                elementSearch.unbind();
                var timeOutTyping;
                elementSearch.bind('keyup',
                    function(e) {
                        clearTimeout(timeOutTyping);
                        timeOutTyping = setTimeout(function() {
                            tableElement.fnFilter(elementSearch.eq(0).val());
                            },
                            600);
                    });
            }
    </script>)