@using Resources
@model System.Collections.Generic.IEnumerable<PQT.Domain.Entities.Event>

@{
    ViewBag.Title = "Events";
}

<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @Html.Bootstrap().ActionLinkButton(Resource.AddNew, "Create").PrependIcon("md md-add").HtmlAttributes(new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>@Resource.Code</th>
                            <th>@Resource.Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.ID">
                                <td>
                                    <a class="text-primary" href="@Url.Action("NCLForManager","Lead",new{id = item.ID})" style="text-decoration: underline;">@item.EventCode</a>
                                </td>
                                <td>@item.EventName</td>
                                <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@Url.Action("Detail", new {id = item.ID})" data-action="detail">
                                        <i class="fa fa-eye"> Detail</i>
                                    </a> | 
                                    <a href="@Url.Action("Edit", new {id = item.ID})" data-action="edit">
                                        <i class="md md-edit text-info"> Edit</i>
                                    </a> | 
                                    <a href="#" data-action="delete" data-id="@item.ID">
                                        <i class="md md-delete text-danger"> Delete</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


@Html.Script(
    @<script>

        var $Table = $('#table').dataTable({ "aaSorting": [[1, "asc"]]});
        $Table.on('click', '[data-action="delete"]', function (e) {
            e.preventDefault();
            var selftr = $(this);
            bootbox.confirm("@Resource.ConfirmDelete", function (isOK) {
                if (isOK) {
                    $.ajax({
                        url: '@Url.Action("Delete")/' + selftr.data('id'),
                        type: 'POST',
                        success: function (data) {
                            if (data == true) {
                                $Table.fnDeleteRow(selftr.closest('tr')[0]);
                            } else {
                                bootbox.alert("@Resource.DeleteFailed");
                            }
                        },
                        error: function () {
                            bootbox.alert("@Resource.DeleteFailed");
                        }
                    });
                }
            });
        });

    </script>)