@using Resources
@model PQT.Web.Models.EmailSettingItem

<br />
@using (Ajax.BeginForm("Submit", "EmailSetting", new AjaxOptions { OnFailure = "onFail", OnSuccess = "onSuccess" }))
{
    @Html.HiddenFor(m => m.EmailSetting.ID)
    @Html.HiddenFor(m => m.EmailSetting.Type)
    @Html.HiddenFor(m => m.EmailSetting.TemplateName)
    <fieldset class="form-horizontal">
        <div class="form-group floating-label">
            <label class="col-sm-3 control-label">Email To <span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" name="@Html.NameFor(m=>m.EmailSetting.EmailTo)" value="@Model.EmailSetting.EmailTo" data-role="tagsinput" placeholder="Please Enter Email Address" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email Cc</label>
            <div class="col-sm-9">
                <input type="text" name="@Html.NameFor(m=>m.EmailSetting.EmailCc)" value="@Model.EmailSetting.EmailCc" data-role="tagsinput" placeholder="Please Enter Email Address" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email Bcc</label>
            <div class="col-sm-9">
                <input type="text" name="@Html.NameFor(m=>m.EmailSetting.EmailBcc)" value="@Model.EmailSetting.EmailBcc" data-role="tagsinput" placeholder="Please Enter Email Address" />
            </div>
        </div>>

        @using (Html.Bootstrap().Begin(new FormActions()))
        {
            <div class="form-group">
                <label class="col-sm-5"></label>
                <label class="col-sm-7">
                    @Html.Bootstrap().SubmitButton().Text("Submit").Style(ButtonStyle.Success).PrependIcon(Icons.ok, true).HtmlAttributes(new { @class = "btnSubmit" + (Model.EmailSetting.Type) + "_" + Model.EmailSetting.TemplateName })
                </label>
            </div>
        }
    </fieldset>
}
<br />
<section class="panel panel-default">
    <div class="panel-heading">Email Form</div>
    <div style="padding: 20px; border: 1px solid #ddd;">
        @Html.Raw(Model.EMailBody)
    </div>
</section>
<script>
    $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
    $(".btnSubmit@(Model.EmailSetting.Type)_@Model.EmailSetting.TemplateName").on('click', function (e) {
        e.preventDefault();
        bootbox.confirm("@Resource.ConfirmSubmit", function (isOK) {
            if (isOK) {
                $(".btnSubmit@(Model.EmailSetting.Type)_@Model.EmailSetting.TemplateName").parents("form").submit();
            }
        });
    });
</script>
