@model IEnumerable<PQT.Domain.Entities.UserNotification>
@{
    var count = 0;
    if (CurrentUser.Identity != null)
    {
        count = CurrentUser.Identity.NotifyNumber;
    }
}

<a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown" aria-expanded="false" id="notify-trigger">
    <i class="fa fa-bell"></i><sup class="badge style-danger count @(count == 0? "hide":"")">@(count)</sup>
</a>
<ul class="dropdown-menu animation-expand" style="max-height: 60vh; overflow-y: auto;">
    @if (!Model.Any())
    {
        <li class="dropdown-header notify-trigger-add-content">No message</li>
    }
    else
    {
        <li class="dropdown-header notify-trigger-add-content">Lead's messages</li>
        foreach (var item in Model)
        {
            <li>
                <a class="alert" style="border: 1px solid rgba(83, 88, 88, 0.15); border-left: 4px solid @item.HighlightColor;" href="javascript:void(0);">
                    <img class="pull-right img-circle dropdown-avatar" src="/Content/img/profile.png?1404026449" alt="">
                    <strong>@item.Title</strong><br>
                    <small>@item.Description...</small>
                </a>
            </li>
        }
    }
</ul><!--end .dropdown-menu -->