@using PQT.Domain.Entities
@using PQT.Domain.Enum
@using Resources
@model PQT.Web.Models.HomeModel

@{
    //ViewBag.MenuBarColl = true;
    ViewBag.Title = "Dashboard";
    ViewBag.MenuBarColl = true;
}

<style>
    .notify_item {
        padding: 10px;
        border-bottom: 1px solid #cecece;
    }

        .notify_item a {
            text-decoration: none;
            color: #000;
        }

            .notify_item a:hover {
                color: #0aa89e
            }

        .notify_item .timestamp {
            font-style: italic;
            color: #a3a3a3;
        }
</style>
<section style="padding: 5px;">
    <div class="section-body" style="margin-top: 12px;margin-right: 12px;">
        <div style="display: flex;overflow-x:auto">
            @foreach (var item in Model.Events)
            {
        <!-- BEGIN ALERT - REVENUE -->
                <div style="min-height: 1px;padding-left: 12px;">
                    <div class="card" style="width: 280px;margin-bottom: 12px;">
                        <div class="card-body no-padding">
                            <div class="alert no-margin" style="position: relative;background: @item.BackgroundColor ; color: #fff;padding: 10px;">
                                @*<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>*@
                                <strong class="text-xl">@item.EventName</strong><br />
                                Date: @item.StartDate.ToString("dd MMM yyyy") - @item.EndDate.ToString("dd MMM yyyy")
                                @if (CurrentUser.HasRole("Finance"))
                                {
                                    <a href="@Url.Action("Index", "Booking", new {id = item.ID})" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                                    </a>
                                }
                                else if (CurrentUser.HasRoleLevel(RoleLevel.ManagerLevel))
                                {
                                    <a href="@Url.Action("NCLForManager", "Lead", new {id = item.ID})" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index", "Lead", new {id = item.ID})" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
                                    </a>
                                }
                            </div>
                            <div style="height: calc(100vh - 210px);overflow-y: auto;">
                                <div id="dashboard_notify_@item.ID" style="display: none"></div>
                                <div class="event_items" data-id="@item.ID">
                                    <div class="notify_item text-center"><img src="~/Content/img/ajax_loader.gif" /></div>
                                </div>
                            </div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
        <!-- END ALERT - REVENUE -->
            }
        </div><!--end .row -->
    </div><!--end .section-body -->
</section>

@Html.Script(
    @<script>
        var eventItems = $(document).find(".event_items");
        function loadEventNotify(elementEvent) {
            var eventId = $(elementEvent).data('id');
            if (eventId == 0)
                return;
            $.ajax({
                global: false,
                url: '@Url.Action("GetNotifyForEvent")?eventId=' + eventId,
                type: 'POST',
                success: function (notifications) {
                    var htmlItems = '';
                    for (var i = 0; i < notifications.length; i++) {
                        var notify = notifications[i];
                        
                        var url = '@Url.Action("Detail", "Lead")?id=' +
                            notify.EntryId +
                            '&eventId=' +
                            notify.EventId;
                        if (notify.NotifyTypeCode == '@NotifyType.Booking.Value') {
                            url = '@Url.Action("Detail", "Booking")?id=' +
                                notify.EntryId +
                                '&eventId=' +
                                notify.EventId;
                        }
                        htmlItems += '<div class="notify_item"><a class="tile-content ink-reaction" href="' +
                            url +
                            '">' +
                            (notify.Seen
                                ? notify.Description + ' - ' + notify.Title
                                : '<b>' + notify.Description + ' - ' + notify.Title + '</b>') +
                            '<br /><span class="timestamp" title="' +
                            notify.Timestamp +
                            '">' +
                            notify.TimeAgo +
                            '</span></a></div>';
                    }
                    if (htmlItems=='') {
                        htmlItems = '<div class="notify_item text-center"><span class="timestamp">Notify not found</span></div>';
                    }
                    $(elementEvent).html(htmlItems);
                },
                error: function () {
                    $(elementEvent).html('<div class="notify_item text-center"><span class="timestamp" >Get Notify Error</span></div>');
                }
            });
        }
        eventItems.each(function (index, item) {
            loadEventNotify($(item));
        });

     </script>
    )
