@model IEnumerable<PQT.Domain.Entities.UserNotification>

<style>
    .tile-text .timestamp {
        font-style: italic;
    }
</style>

<div class="offcanvas">
    <!-- BEGIN OFFCANVAS SEARCH -->
    <div id="offcanvas-notify" class="offcanvas-pane width-8">
        <div class="offcanvas-head">
            <header class="text-primary">Notification</header>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body no-padding">
            <ul class="list">
                <li class="tile divider-full-bleed notify-trigger-no-content @(Model.Any()?"hide":"")">
                    <div class="tile-content">
                        <div class="tile-text"><strong>No message</strong></div>
                    </div>
                </li>
                @foreach (var item in Model)
                {
                    <li class="tile" style="border-bottom: 1px solid rgba(150, 156, 156, 0.3);
                                       border-left: 4px solid @item.HighlightColor;">
                        <a class="tile-content ink-reaction" href="@Url.Action("Detail", "Lead", new { id = item.EntryId, eventId = item.EventId })">
                        @*<div class="tile-icon">
                                <img src="/Content/img/profile.png?1404026791" alt="" />
                            </div>*@
                            <div class="tile-text">
                            @if (item.Seen)
                            {
                                @item.Description @:- @item.EventCode
                            }
                            else
                            {
                                <b>@item.Description - @item.EventCode</b>
                            }
                                <br/>@item.Title
                                <small class="timestamp" title="@item.Timestamp">@item.TimeAgo</small>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div><!--end .offcanvas-body -->
    </div><!--end .offcanvas-pane -->
    <!-- END OFFCANVAS SEARCH -->
</div><!--end .offcanvas-->
<!-- END OFFCANVAS RIGHT -->