@using Resources
@model IEnumerable<PQT.Domain.Entities.Company>
@{
    ViewBag.Title = "Companies";
}
<style>
    #table tbody tr.tier1 {
        color: #a94442;
        background-color: #ffdad7;
    }
    #table tbody tr.tier2 {
        color: #31708f;
        background-color: #d8edff !important;
    }
</style>
<section>
    <div class="section-header">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            @if (CurrentUser.HasPermission("Company", "CreateOrEdit"))
            {
                @Html.Bootstrap().ActionLinkButton(Resource.AddNew, "CreateOrEdit").RouteValues(new { id = 0 }).PrependIcon("md md-add").HtmlAttributes(new { @class = "btn btn-primary simple-ajax-popup-align-top" })
            }

            @if (CurrentUser.HasPermission("Company", "ImportFromExcel"))
            {
                @Html.Bootstrap().ActionLinkButton(Resource.ImportFromExcel, "ImportFromExcel").PrependIcon("md md-cloud-upload").HtmlAttributes(new { @class = "btn btn-info " })
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>@Resource.Country</th>
                            <th>@Resource.Name</th>
                            <th>Product/Service</th>
                            <th>Sector</th>
                            <th>Industry</th>
                            <th>Tier</th>
                            <th>Business Unit</th>
                            <th>Financial Year</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>


@Html.Script(
    @<script>
        var $Table = $("#table");
     $Table.dataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "stateSave": false,
            "ajax": {
                "url": "@Url.Action("AjaxGetAlls")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.CountryName = $('#table_filter').find('input[name="search_country"]').val();
                    d.CompanyName = $('#table_filter').find('input[name="search_name"]').val();
                    d.ProductService = $('#table_filter').find('input[name="search_service"]').val();
                    d.Sector = $('#table_filter').find('input[name="search_sector"]').val();
                    d.Industry = $('#table_filter').find('input[name="search_industry"]').val();
                    d.Tier = $('#table_filter').find('input[name="search_tier"]').val();
                    d.BusinessUnit = $('#table_filter').find('input[name="search_businessunit"]').val();
                    d.Ownership = $('#table_filter').find('input[name="search_ownership"]').val();
                    d.FinancialYear = $('#table_filter').find('input[name="search_fnancialyear"]').val();
                }
            },
            "columns": [
                { "data": "CountryName", "name": "CountryName", "orderable": true },
                { "data": "CompanyName", "name": "CompanyName", "orderable": true },
                { "data": "ProductOrService", "name": "ProductOrService", "orderable": true },
                { "data": "Sector", "name": "Sector", "orderable": true },
                { "data": "Industry", "name": "Industry", "orderable": true },
                { "data": "Tier", "name": "Tier", "orderable": true },
                { "data": "BusinessUnit", "name": "BusinessUnit", "orderable": true },
                { "data": "FinancialYear", "name": "FinancialYear", "orderable": true },
                { "data": "ID", "name": "ID", "orderable": false },
            ],
            "aLengthMenu": [[25, 50, 100, 500, 1000, 2000], [25, 50, 100, 500, 1000, 2000]],
            "iDisplayLength": 50,
            "aaSorting": [[2, "asc"]],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).find('td:eq(8)').html('<a href="@Url.Action("Detail")?id=' + aData["ID"] + '" ><i class="fa fa-eye text-default" style="white-space:nowrap">  Detail</i></a> ' +
                    ' <a href="@Url.Action("CreateOrEdit")?id=' + aData["ID"] + '" data-action="edit" class="simple-ajax-popup-align-top"><i class="md md-edit text-info" style="white-space:nowrap">  Edit</i></a> ' +
                    ' <a href="#" data-action="delete" data-id="' + aData["ID"] +'"><i class="md md-delete text-danger"  style="white-space:nowrap"> Delete</i></a> ' +
                    '<a href="@Url.Action("Merge")?id=' + aData["ID"] + '" data-action="merge" class="simple-ajax-popup-align-top"><i class="md md-merge-type text-primary"  style="white-space:nowrap"> Merge</i></a> ');
                $(nRow).attr("data-id", aData["ID"]);
                $(nRow).addClass("tier" + aData["Tier"]);
            },
            initComplete: function () {
                var _table = this;
                var filter_box = _table.parent().find("#table_filter");
                var htmlFilter = '<label>Country:<input style="width: 120px" type="search" name="search_country" /></label>';
                htmlFilter += '<label>Company:<input style="width: 120px" type="search" name="search_name" /></label>';
                htmlFilter += '<label>Product/Service:<input style="width: 120px" type="search" name="search_service" /></label>';
                htmlFilter += '<label>Sector:<input style="width: 120px" type="search" name="search_sector" /></label>';
                htmlFilter += '<label>Industry:<input style="width: 120px" type="search" name="search_industry" /></label>';
                htmlFilter += '<label>Tier:<input style="width: 120px" type="search" name="search_tier" /></label>';
                htmlFilter += '<label>Business Unit:<input style="width: 120px" type="search" name="search_businessunit" /></label>';
                htmlFilter += '<label>Ownership:<input style="width: 120px" type="search" name="search_ownership" /></label>';
                htmlFilter += '<label>Financial Year:<input style="width: 120px" type="search" name="search_fnancialyear" /></label>';
                filter_box.html(htmlFilter);
                searchBindingKeyUp(_table.parent().find('input[type="search"]'), _table);
            },
        });
        function searchBindingKeyUp(elementSearch, tableElement) {
            elementSearch.unbind();
            var timeOutTyping;
            elementSearch.bind('keyup',
                function(e) {
                    clearTimeout(timeOutTyping);
                    timeOutTyping = setTimeout(function() {
                            tableElement.fnFilter(elementSearch.eq(0).val());
                        },
                        600);
                });
        }
        $Table.on('click', '[data-action="delete"]', function (e) {
            e.preventDefault();
            var selftr = $(this);
            bootbox.confirm("@Resource.ConfirmDelete", function (isOK) {
                if (isOK) {
                    $.ajax({
                        url: '@Url.Action("Delete")/' + selftr.data('id'),
                        type: 'POST',
                        success: function (data) {
                            if (data == true) {
                                $Table.fnDeleteRow(selftr.closest('tr')[0]);
                            } else {
                                bootbox.alert("@Resource.DeleteFailed");
                            }
                        },
                        error: function () {
                            bootbox.alert("@Resource.DeleteFailed");
                        }
                    });
                }
            });
        });

        function onMergeFail() {
            $(".error").removeClass('hide');
            $(".success").addClass('hide');
            $(".texterror").text("@Resource.Error");
        }
        function onMergeSuccess(data) {
            $(".error").addClass('hide');
            $(".success").addClass('hide');

            if (data.Code == 1 || data.Code == 3) {
                $(".success").removeClass('hide');
                if (data.Code == 1) {
                    $.magnificPopup.close();
                    $("textsuccess").data('@Resource.SaveSuccessful');
                    updateItem(data.Model);
                }
            } else {
                if (data.Code == 2)
                    $(".texterror").text('@Resource.AddError');
                if (data.Code == 4)
                    $(".texterror").text('@Resource.SaveError');
                if (data.Code == 5)
                    $(".texterror").text("@Resource.DataInvalid");
                if (data.Code == 6)
                    $(".texterror").text(data.error);
                $(".error").removeClass('hide');
            }
        }
        function onFail() {
            $(".error").removeClass('hide');
            $(".success").addClass('hide');
            $(".texterror").text("@Resource.Error");
        }
        function onSuccess(data) {
            $(".error").addClass('hide');
            $(".success").addClass('hide');

            if (data.Code == 1 || data.Code == 3) {
                $(".success").removeClass('hide');
                if (data.Code == 1) {
                    $(".textsuccess").text('@Resource.AddSuccessful');
                    addNewLineItem(data.Model);
                    $("#CreateOrEditForm").get(0).reset();;
                    $.magnificPopup.close();
                }
                if (data.Code == 3) {
                    $("textsuccess").data('@Resource.SaveSuccessful');
                    updateItem(data.Model);
                }
            } else {
                if (data.Code == 2)
                    $(".texterror").text('@Resource.AddError');
                if (data.Code == 4)
                    $(".texterror").text('@Resource.SaveError');
                if (data.Code == 5)
                    $(".texterror").text("@Resource.DataInvalid");
                if (data.Code == 6)
                    $(".texterror").text(data.error);
                $(".error").removeClass('hide');
            }
        }

        function addNewLineItem(data) {
            @*var rowIndex = $Table.fnAddData([
                data.CountryName,
                data.CompanyName,
                data.ProductOrService,
                data.Sector,
                data.Industry,
                data.Tier,
                data.BusinessUnit,
                data.FinancialYear,
                '<a class="simple-ajax-popup-align-top" data-action="edit" href="@Url.Action("CreateOrEdit")?id=' + data.ID + '"><i class="md md-edit text-info"></i></a>' +
                '<a data-action="delete" data-id="' + data.ID + '" href="#"><i class="md md-delete text-danger"></i></a>'
            ]);
            var row = $Table.fnGetNodes(rowIndex);
            $(row).attr('data-id', data.ID);
            $(row).addClass("tier" + data.Tier);*@
            $Table.fnFilter('');
        }
        function updateItem(data) {

            $Table.fnFilter('');
        }
    </script>)
